
span {
    visibility: hidden;
  }

  .active {
    color: #000;

    span {
      visibility: visible;
    }
  }
  .pFirst{
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
}



.smallProduct1 {
  position: relative;
  top: 50%;
  height: 100px;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.productCountWrapper{
  display: flex;
  justify-content: space-around;

  .productCount{
    
  }
}