<div class="home">
    <div class="emptyBasket" *ngIf="!orders.length">
        <div class="backToHome">
            <p class="emptyBasket-text" *ngIf="!allIsGodd">Корзина порожня</p>
            <p class="emptyBasket-text" *ngIf="!orders.length && allIsGodd">Все пройшло успішно!</p>
            <button type="button" class="butCoupon" [routerLink]="[ '/home']">На головну</button>
        </div>
    </div>

    <div class="container" *ngIf="orders.length">
        <div class="orders">
            <div class="nameComponent">Корзина</div>
            
            <div class="order-block" *ngFor="let order of orders">

                <div class="image-block">
                    <img class="imgWrapper" [src]='order?.image1'>
                </div>

                <div class="name-block">
                    <p class="nameGame">{{order?.nameEN}}</p>
                </div>

                <div class="count-block">
                    <div class="counter-block">
                        <p class="productCount" (click)="productCount(order,false)"><i class="fas fa-minus"></i></p>
                        <div class="product-qty" maxlength="3" type="number">{{order?.count}}</div>
                        <p class="productCount" (click)="productCount(order,true)"><i class="fas fa-plus"></i></p>
                    </div>
                      <div class="many">{{order?.count}} шт.</div>
                </div>

                <div class="price-block">
                    <p class="mainPrice">{{order?.mainPrice}} UAH</p>
                </div>

                <div class="delete-block">
                    <span class="close" (click)="deleteProductBasket(order)"></span>
                </div>

            </div>
            
        </div>
        
        <div class="right-block">
            <p id="datah">Дані одержувача</p>
            <form  id="orderFormCheck" #orderForm="ngForm" novalidate (submit)="addOrder(orderForm)">
            <div class="inputs">
              
                <div class="inputElementWrapper">
                    <input class="inputElementItem"  type="text" placeholder="Їм'я" ngModel name="userName" required #name="ngModel">
                    <label>Їм'я*</label>
                    <span class="focus-border"><i></i></span>
                  </div>

                  <div class="inputElementWrapper">
                    <input class="inputElementItem"  type="text" placeholder="Прізвище" ngModel name="userLastName" required #name="ngModel">
                    <label>Прізвище*</label>
                    <span class="focus-border"><i></i></span>
                  </div>

                  <div class="inputElementWrapper">
                    <input class="inputElementItem"  type="text" mask="(000)-000-00-00" prefix="+38" placeholder="телефон" ngModel name="userPhone" required #name="ngModel">
                    <label>Номер телефону*</label>
                    <span class="focus-border"><i></i></span>
                  </div>

                  <div class="inputElementWrapper">
                    <input class="inputElementItem"  type="text" placeholder="Електронна пошта" ngModel name="userEmail" required #name="ngModel">
                    <label>Електронна пошта*</label>
                    <span class="focus-border"><i></i></span>
                  </div>
            </div>

            <div class="cuopon">
                <input type="text" placeholder="Маєш купон на знижку?" class="forCoupon" [(ngModel)]="saleCoupon" name="saleCoupon">
                <button type="button" class="butCoupon" (click)="checkCoupon()" >Використати</button>
            </div>

            <div class="for-butBuy">
               <p class="total">{{totalPrice.toFixed(2)}} UAH</p>
                <button type="submit" class="butBuy effect01" [disabled]="orderForm.invalid">Купити</button>
            </div>
        </form>
        </div>
       
    </div>
</div>

