<div class="home">
    <div class="container">
        <div class="orders">
            <div class="nameComponent">Корзина</div>
            
            <div class="order-block">

                <div class="image-block">
                    <a class="imgWrapper"></a>
                </div>

                <div class="name-block">
                    <p class="nameGame">Ведьмак 3. Дикая охота</p>
                </div>

                <div class="count-block">
                    <div class="counter-block">
                        <span class="productCount lessProduct">-</span>
                        <input class="product-qty" maxlength="3" type="number">
                        <span class="productCount">+</span>
                    </div>
                      <div class="many">1 шт.</div>
                </div>

                <div class="price-block">
                    <p class="mainPrice"> 1500 UAH</p>
                </div>

                <div class="delete-block">
                    <span class="close"></span>
                </div>

            </div>
            
        </div>
        
        <div class="right-block">
            <p id="datah">Дані одержувача</p>
            
            <div class="inputs">
               
                <div class="inputElementWrapper">
                    <input class="inputElementItem"  type="text" placeholder="Їм'я" >
                    <label>Їм'я*</label>
                    <span class="focus-border"><i></i></span>
                  </div>

                  <div class="inputElementWrapper">
                    <input class="inputElementItem"  type="text" placeholder="Прізвище" >
                    <label>Прізвище*</label>
                    <span class="focus-border"><i></i></span>
                  </div>

                  <div class="inputElementWrapper">
                    <input class="inputElementItem"  type="text" placeholder="телефон" >
                    <label>Номер телефону*</label>
                    <span class="focus-border"><i></i></span>
                  </div>

                <!-- <div class="select">
                    <select name="slct" id="slct">
                      <option selected disabled>Виберіть місто</option>
                      <option value="Київ">Київ</option>
                      <option value="Одеса">Одеса</option>
                      <option value="Львів">Львів</option>
                      <option value="Харків">Харків</option>
                      <option value="Дніпропетровськ">Дніпропетровськ</option>
                      <option value="Миколаїв">Миколаїв</option>
                      <option value="Миколаїв">Миколаїв</option>
                    </select>
                  </div> -->

                  
            </div>

            <div class="cuopon">
                <input type="text" placeholder="Маєш купон на знижку?" class="forCoupon" >
                <button type="button" class="butCoupon">Використати</button>
            </div>

            <div class="for-butBuy">
               <p class="total">1500 UAH</p>
                <button type="button" class="butBuy effect01">Купити</button>
            </div>
        </div>
       
    </div>
</div>

