@media screen and (min-width: 970px) {
  .home{
    width: 100%;
    min-height: 600px;

    .container{
        width: 85%;
        min-height: 600px;
        margin:10px auto;
        display: flex;

        .orders{
            width: 75%;

            .nameComponent{
                width: 100%;
                height: 50px;
                color: white;
                font-family: "Montserrat-nameGame", "Courier New", Courier, monospace;
                margin-bottom: 15px;
                font-size: 45px;
                padding-left: 20px;
                margin-top: 5px;
                display: flex;
                justify-content: space-between;
            }

            .order-block{
                width: 98%;
                height: 200px;
                margin-bottom: 30px;
                margin: auto;
                background-color: #011c5c;
                margin-top: 20px;
                display: flex;

                &:hover{
                    outline: 1px solid whitesmoke;
                    box-shadow: 1px 1px 15px 3px rgb(0, 34, 54);
                    border-radius: 3px;
                }

                .image-block{
                    width: 15%;
                    height: 200px;
                   display: flex;
                   justify-content: center;
                   align-items: center;

                    .imgWrapper{
                        width: 145px;
                        height: 195px;
                        background-image: url(/assets/images/The-Witcher-3-game);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }

                .name-block{
                    width: 30%;
                    height: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .nameGame{
                        width: 90%;
                        color: white;
                        font-family: 'OpenSans-SemiBold','Courier New', Courier, monospace;
                        font-size: 17px;
                        text-align: center;
                        overflow: hidden;
                        line-height: 25px;
                    }
                }

                .count-block{
                    width: 20%;
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                
                    .counter-block{
                        width: 100%;
                        height: 80px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 60px;

                        .product-qty{
                            width: 70px;
                            height: 40px;
                            font-size: 20px;
                            text-align: center;
                            font-family: 'Roboto-Bold','Courier New', Courier, monospace;
    
                            &:focus{
                                outline: none;
                            }
                        }
    
                        .productCount{
                          width: 40px;
                            height: 30px;
                            font-size: 50px;
                            color: white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
    
                            &:hover{
                                background-color: rgb(117, 117, 117);
                            }
    
                            &:focus{
                                outline: none;
                            }
                        }
                        .lessProduct{
                            padding-bottom: 10px;
                        }
                    }
                    

                    .many{
                        text-align: center;
                        color: white;
                        font-size: 20px;
                        font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    }
                }

                .price-block{
                    width: 25%;
                    height: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .mainPrice{
                        font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        font-size: 35px;
                        color: white;
                        width: 100%;
                        text-align: center;
                    }
                }

                .delete-block{
                    width: 95px;
                    height: 50px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    .close {
                        position: relative;
                        right: 15px;
                        width: 32px;
                        height: 32px;
                        opacity: 0.3;
                        cursor: pointer;
                        }
                        .close:hover {
                        opacity: 1;
                        background-color: rgb(170, 170, 170);
                        }
                        .close:before, .close:after {
                        position: absolute;
                        left: 15px;
                        content: ' ';
                        height: 33px;
                        width: 2px;
                        background-color: rgb(255, 255, 255);
                        }
                        .close:before {
                        transform: rotate(45deg);
                        }
                        .close:after {
                        transform: rotate(-45deg);
                        }
                }

            }
        }

        .right-block{
            width: 35%;
            height: 600px;
            background-color: #011c5c;
            
            #datah{
                width: 100%;
                height: 50px;
                color: white;
                font-size: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Montserrat-nameGame','Courier New', Courier, monospace;
            }

            .inputs{
                width: 95%;
                height: 395px;
                margin: auto;
                margin-top: 20px;
                
/*Inputs*/
label {
  position: relative;
  display: block;
  /*Light inputs*/
}

label:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
  background: #0e0e0e;
  z-index: 2;
  content: '';
  -webkit-transition: height 300ms linear;
  -o-transition: height 300ms linear;
  transition: height 300ms linear;
}

label:after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 0;
  background: #0e0e0e;
  -webkit-transition: height 300ms linear;
  -o-transition: height 300ms linear;
  transition: height 300ms linear;
  z-index: 2;
  content: '';
}

label .firstBorderElement:before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: #0e0e0e;
  -webkit-transition: width 375ms linear;
  -o-transition: width 375ms linear;
  transition: width 375ms linear;
  z-index: 2;
  content: '';
}

label .firstBorderElement:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: #0e0e0e;
  -webkit-transition: width 375ms linear;
  -o-transition: width 375ms linear;
  transition: width 375ms linear;
  z-index: 2;
  content: '';
}

label .secondBorderElement:before {
  position: absolute;
  top: 0;
  right: 50%;
  width: 0;
  height: 1px;
  background: #0e0e0e;
  -webkit-transition: width 375ms linear;
  -o-transition: width 375ms linear;
  transition: width 375ms linear;
  z-index: 2;
  content: '';
}

label .secondBorderElement:after {
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 1px;
  background: #0e0e0e;
  -webkit-transition: width 375ms linear;
  -o-transition: width 375ms linear;
  transition: width 375ms linear;
  z-index: 2;
  content: '';
}

label.active:before, label.active:after {
  height: 100%;
}

label.active .firstBorderElement:before, label.active .firstBorderElement:after,
label.active .secondBorderElement:before,
label.active .secondBorderElement:after {
  width: 50%;
}

label.light .simpleInput {
  border-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}

label.light:before, label.light:after {
  background: #fff;
}

label.light .firstBorderElement:before, label.light .firstBorderElement:after,
label.light .secondBorderElement:before,
label.light .secondBorderElement:after {
  background: #fff;
}


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #0e0e0e;
  opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #0e0e0e;
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #0e0e0e;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #0e0e0e;
  opacity: 1;
}

label.light input::-webkit-input-placeholder,
label.light textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

label.light input:-moz-placeholder,
label.light textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

label.light input::-moz-placeholder,
label.light textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

label.light input:-ms-input-placeholder,
label.light textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

/* inputs */


.inputElementWrapper {
  width: 100%;
  position: relative;
  margin-bottom: 17px;
}

.inputElementItem, .textareaElementItem {
  border: 1px solid #ccc;
  padding: 9px 14px;
  transition: 0.4s;
  background: transparent;
  font: 15px/24px "Lato", Arial, sans-serif;
  color: rgb(255, 255, 255);
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.inputElementItem ~ .focus-border:before,
.inputElementItem ~ .focus-border:after,
.textareaElementItem ~ .focus-border:before,
.textareaElementItem ~ .focus-border:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #00a2ff;
  transition: 0.4s;
}

.inputElementItem ~ .focus-border:after,
.textareaElementItem ~ .focus-border:after {
  top: auto;
  bottom: 0;
}

.inputElementItem ~ .focus-border i:before,
.inputElementItem ~ .focus-border i:after,
.textareaElementItem ~ .focus-border i:before,
.textareaElementItem ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #00a2ff;
  transition: 0.6s;

}

.inputElementItem ~ .focus-border i:after,
.textareaElementItem ~ .focus-border i:after {
  left: auto;
  right: 0;
  
}

.inputElementItem:focus ~ .focus-border:before,
.inputElementItem:focus ~ .focus-border:after,
.textareaElementItem:focus ~ .focus-border:before,
.textareaElementItem:focus ~ .focus-border:after {
  left: 0;
  width: 100%;
  transition: 0.4s;


}

.inputElementItem:focus ~ .focus-border i:before,
.inputElementItem:focus ~ .focus-border i:after,
.textareaElementItem:focus ~ .focus-border i:before,
.textareaElementItem:focus ~ .focus-border i:after{
  top: -1px;
  height: 100%;
  transition: 0.6s;


}

.inputElementItem ~ label,
.textareaElementItem ~ label {
  position: absolute;
  left: 14px;
  top: 10px;
  color: #ffffff;
  transition: 0.3s;
  letter-spacing: 0.5px;
  font-family: 'Montserrat-nameGame','Courier New', Courier, monospace;

}

.inputElementItem::placeholder,
.textareaElementItem::placeholder {
  color: transparent;
}

.inputElementItem:focus ~ label,
.textareaElementItem:focus ~ label {
  top: -13px;
  left: 0;
  font-size: 10px;
  color: #ffffff;
  transition: 0.3s;
  font-family: 'Montserrat-nameGame','Courier New', Courier, monospace;
}

.inputElementItem:not(:placeholder-shown):not([value=""]) ~ label,
.textareaElementItem:not(:placeholder-shown):not([value=""]) ~ label {
  top: -13px;
  left: 0;
  font-size: 11px;
  color: #ffffff;
  transition: 0.3s;
}

.changeB{
  margin-top: 15px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
textarea,
select {
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: none;
  border: none;
  margin: 0;
  width: 100%;
  font-family: 'Arial';
}

textarea {
  display: block;
  resize: none;
  overflow: auto;
}

/*Inputs*/

}
            .cuopon{
              display: flex;
              justify-content: space-around;
              margin-bottom: 20px;

              .forCoupon{
                width: 240px;
                height: 40px;
                font-family: 'Roboto-Bold','Courier New', Courier, monospace;
                font-size: 16px;
                padding-left: 10px;
                text-transform: uppercase;

                &:focus{
                  outline: none;
                }
              }

              .butCoupon{
                width: 150px;
                height: 40px;
                background-color: rgb(40, 135, 212);
                border: none;
                color: white;
                font-family: 'Roboto','Courier New', Courier, monospace;
                font-size: 20px;
                transition: all 300ms ease; 
                
                &:focus{
                    border-radius: 5px;
                    outline: none;
                    border: 3px solid rgb(150, 190, 223);
                    box-shadow: 1px 0px 6px rgb(102, 173, 231) ;
                }
                &:hover{
                    cursor: pointer;
                    background-color: rgb(34, 102, 158);
                    border-radius: 5px;
                }
            }

            }
            .for-butBuy{
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .total{
                  color: white;
                  font-size: 30px;
                  font-family: 'OpenSans-SemiBold','Courier New', Courier, monospace;
                }

                .butBuy{
                    letter-spacing: 0.1em;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 45px;
                    max-width: 160px;
                    position: relative;
                    text-decoration: none;
                    text-transform: uppercase;
                    width: 100%;
                  }
                  .btn:hover {
                    text-decoration: none;
                  }
                  
                  /*btn_background*/
                  .effect01 {
                    color: #FFF;
                    border: 4px solid rgb(0, 67, 143);
                    box-shadow:0px 0px 0px 1px rgb(0, 0, 0) inset;
                    background-color: rgb(0, 91, 177);
                    overflow: hidden;
                    position: relative;
                    transition: all 0.3s ease-in-out;
                    font-size: 23px;
                    font-family: 'OpenSans-SemiBold';
                  }
                  .effect01:hover {
                    border: 4px solid rgb(102, 102, 102);
                    background-color: #FFF;
                    box-shadow:0px 0px 0px 4px #EEE inset;
                    color: rgb(0, 0, 0);
                  }
                  
                  .effect01:focus{
                      outline: none;
                  }
                  /*btn_text*/
                  .effect01 span {
                    transition: all 0.2s ease-out;
                    z-index: 2;
                  }
                  .effect01:hover span{
                    letter-spacing: 0.13em;
                    color: #333;
                  }
                  
                  /*highlight*/
                  .effect01:after {
                    background: #FFF;
                    border: 0px solid #000;
                    content: "";
                    height: 155px;
                    left: -75px;
                    opacity: .8;
                    position: absolute;
                    top: -50px;
                    -webkit-transform: rotate(35deg);
                            transform: rotate(35deg);
                    width: 50px;
                    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
                    z-index: 1;
                  }
                  .effect01:hover:after {
                    background: #FFF;
                    border: 20px solid #000;
                    opacity: 0;
                    left: 120%;
                    -webkit-transform: rotate(40deg);
                            transform: rotate(40deg);
                  }
            }
        }

        
    }

}
input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
            margin: 0;
            }
}

////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 969px){
  .home{
    width: 100%;
    min-height: 600px;

    .container{
        width: 90%;
        min-height: 600px;
        margin:10px auto;
        display: flex;
        flex-direction: column;

        .orders{
            width: 100%;
            margin-bottom: 20px;

            .nameComponent{
                width: 100%;
                height: 50px;
                color: white;
                font-family: "Roboto-Bold", "Courier New", Courier, monospace;
                margin-bottom: 15px;
                font-size: 45px;
                padding-left: 20px;
                margin-top: 5px;
               text-align: center;
            }

            .order-block{
                width: 95%;
                height: 200px;
                margin-bottom: 30px;
                margin: auto;
                background-color: #011c5c;
                margin-top: 20px;
                display: flex;

                &:focus{
                    outline: 1px solid whitesmoke;
                    box-shadow: 1px 1px 15px 3px rgb(0, 34, 54);
                    border-radius: 3px;
                }

                .image-block{
                    width: 15%;
                    height: 200px;
                   display: flex;
                   justify-content: center;
                   align-items: center;

                    .imgWrapper{
                        width: 145px;
                        height: 195px;
                        background-image: url(/assets/images/The-Witcher-3-game);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }

                .name-block{
                    width: 30%;
                    height: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .nameGame{
                        width: 90%;
                        color: white;
                        font-family: 'OpenSans-SemiBold','Courier New', Courier, monospace;
                        font-size: 17px;
                        text-align: center;
                        overflow: hidden;
                        line-height: 25px;
                    }
                }

                .count-block{
                    width: 20%;
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                
                    .counter-block{
                        width: 100%;
                        height: 80px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 60px;

                        .product-qty{
                            width: 70px;
                            height: 40px;
                            font-size: 20px;
                            text-align: center;
                            font-family: 'Roboto-Bold','Courier New', Courier, monospace;
    
                            &:focus{
                                outline: none;
                            }
                        }
    
                        .productCount{
                            width: 40px;
                            height: 30px;
                            font-size: 50px;
                            color: white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                          
                            &:focus{
                                outline: none;
                                background-color: rgb(117, 117, 117);
                            }
                        }
                        .lessProduct{
                            padding-bottom: 10px;
                        }
                    }
                    

                    .many{
                        text-align: center;
                        color: white;
                        font-size: 20px;
                        font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    }
                }

                .price-block{
                    width: 25%;
                    height: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .mainPrice{
                        font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        font-size: 35px;
                        color: white;
                        width: 100%;
                        text-align: center;
                    }
                }

                .delete-block{
                    width: 95px;
                    height: 50px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    .close {
                        position: relative;
                        right: 15px;
                        width: 32px;
                        height: 32px;
                        opacity: 0.3;
                        }
                        .close:focus {
                        opacity: 1;
                        background-color: rgb(170, 170, 170);
                        }
                        .close:before, .close:after {
                        position: absolute;
                        left: 15px;
                        content: ' ';
                        height: 33px;
                        width: 2px;
                        background-color: rgb(255, 255, 255);
                        }
                        .close:before {
                        transform: rotate(45deg);
                        }
                        .close:after {
                        transform: rotate(-45deg);
                        }
                }

            }
        }

        .right-block{
            width: 100%;
            height: 600px;
            background-color: #011c5c;
            
            #datah{
                width: 100%;
                height: 50px;
                color: white;
                font-size: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Montserrat-nameGame','Courier New', Courier, monospace;
            }

            .inputs{
                width: 95%;
                height: 395px;
                margin: auto;
                margin-top: 20px;
                
/*Inputs*/
label {
  position: relative;
  display: block;
  /*Light inputs*/
}

label:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
  background: #0e0e0e;
  z-index: 2;
  content: '';
  -webkit-transition: height 300ms linear;
  -o-transition: height 300ms linear;
  transition: height 300ms linear;
}

label:after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 0;
  background: #0e0e0e;
  -webkit-transition: height 300ms linear;
  -o-transition: height 300ms linear;
  transition: height 300ms linear;
  z-index: 2;
  content: '';
}

label .firstBorderElement:before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: #0e0e0e;
  -webkit-transition: width 375ms linear;
  -o-transition: width 375ms linear;
  transition: width 375ms linear;
  z-index: 2;
  content: '';
}

label .firstBorderElement:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: #0e0e0e;
  -webkit-transition: width 375ms linear;
  -o-transition: width 375ms linear;
  transition: width 375ms linear;
  z-index: 2;
  content: '';
}

label .secondBorderElement:before {
  position: absolute;
  top: 0;
  right: 50%;
  width: 0;
  height: 1px;
  background: #0e0e0e;
  -webkit-transition: width 375ms linear;
  -o-transition: width 375ms linear;
  transition: width 375ms linear;
  z-index: 2;
  content: '';
}

label .secondBorderElement:after {
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 1px;
  background: #0e0e0e;
  -webkit-transition: width 375ms linear;
  -o-transition: width 375ms linear;
  transition: width 375ms linear;
  z-index: 2;
  content: '';
}

label.active:before, label.active:after {
  height: 100%;
}

label.active .firstBorderElement:before, label.active .firstBorderElement:after,
label.active .secondBorderElement:before,
label.active .secondBorderElement:after {
  width: 50%;
}

label.light .simpleInput {
  border-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}

label.light:before, label.light:after {
  background: #fff;
}

label.light .firstBorderElement:before, label.light .firstBorderElement:after,
label.light .secondBorderElement:before,
label.light .secondBorderElement:after {
  background: #fff;
}


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #0e0e0e;
  opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #0e0e0e;
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #0e0e0e;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #0e0e0e;
  opacity: 1;
}

label.light input::-webkit-input-placeholder,
label.light textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

label.light input:-moz-placeholder,
label.light textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

label.light input::-moz-placeholder,
label.light textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

label.light input:-ms-input-placeholder,
label.light textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

/* inputs */


.inputElementWrapper {
  width: 100%;
  position: relative;
  margin-bottom: 17px;
  height: 50px;
}

.inputElementItem, .textareaElementItem {
  border: 1px solid #ccc;
  padding: 9px 14px;
  transition: 0.4s;
  background: transparent;
  font: 18px/24px "Lato", Arial, sans-serif;
  color: rgb(255, 255, 255);
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  height: 50px;

}

.inputElementItem ~ .focus-border:before,
.inputElementItem ~ .focus-border:after,
.textareaElementItem ~ .focus-border:before,
.textareaElementItem ~ .focus-border:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #00a2ff;
  transition: 0.4s;
}

.inputElementItem ~ .focus-border:after,
.textareaElementItem ~ .focus-border:after {
  top: auto;
  bottom: 0;
}

.inputElementItem ~ .focus-border i:before,
.inputElementItem ~ .focus-border i:after,
.textareaElementItem ~ .focus-border i:before,
.textareaElementItem ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #00a2ff;
  transition: 0.6s;

}

.inputElementItem ~ .focus-border i:after,
.textareaElementItem ~ .focus-border i:after {
  left: auto;
  right: 0;
  
}

.inputElementItem:focus ~ .focus-border:before,
.inputElementItem:focus ~ .focus-border:after,
.textareaElementItem:focus ~ .focus-border:before,
.textareaElementItem:focus ~ .focus-border:after {
  left: 0;
  width: 100%;
  transition: 0.4s;


}

.inputElementItem:focus ~ .focus-border i:before,
.inputElementItem:focus ~ .focus-border i:after,
.textareaElementItem:focus ~ .focus-border i:before,
.textareaElementItem:focus ~ .focus-border i:after{
  top: -1px;
  height: 100%;
  transition: 0.6s;


}

.inputElementItem ~ label,
.textareaElementItem ~ label {
  position: absolute;
  left: 14px;
  top: 10px;
  color: #ffffff;
  transition: 0.3s;
  letter-spacing: 0.5px;
  font-family: 'Montserrat-nameGame','Courier New', Courier, monospace;

}

.inputElementItem::placeholder,
.textareaElementItem::placeholder {
  color: transparent;
}

.inputElementItem:focus ~ label,
.textareaElementItem:focus ~ label {
  top: -13px;
  left: 0;
  font-size: 10px;
  color: #ffffff;
  transition: 0.3s;
  font-family: 'Montserrat-nameGame','Courier New', Courier, monospace;
}

.inputElementItem:not(:placeholder-shown):not([value=""]) ~ label,
.textareaElementItem:not(:placeholder-shown):not([value=""]) ~ label {
  top: -13px;
  left: 0;
  font-size: 11px;
  color: #ffffff;
  transition: 0.3s;
}

.changeB{
  margin-top: 15px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
textarea,
select {
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: none;
  border: none;
  margin: 0;
  width: 100%;
  font-family: 'Arial';
}

textarea {
  display: block;
  resize: none;
  overflow: auto;
}

/*Inputs*/

}
            .cuopon{
              display: flex;
              justify-content: space-around;
              width: 50%;
              height: 62px;
              align-items: center;
              margin: auto;

              .forCoupon{
                width: 330px;
                height: 40px;
                font-family: 'Roboto-Bold','Courier New', Courier, monospace;
                font-size: 16px;
                padding-left: 10px;
                text-transform: uppercase;

                &:focus{
                  outline: none;
                }
              }

              .butCoupon{
                width: 150px;
                height: 40px;
                background-color: rgb(40, 135, 212);
                border: none;
                color: white;
                font-family: 'Roboto','Courier New', Courier, monospace;
                font-size: 20px;
                transition: all 300ms ease; 
                margin-left: 10px;
                
                &:focus{
                    border-radius: 5px;
                    outline: none;
                    border: 3px solid rgb(150, 190, 223);
                    box-shadow: 1px 0px 6px rgb(102, 173, 231) ;
                }
                &:hover{
                    cursor: pointer;
                    background-color: rgb(34, 102, 158);
                    border-radius: 5px;
                }
            }

            }
            .for-butBuy{
              width: 95%;
              height: 60px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              border-top: 1px solid silver;
              margin: auto;
              padding-right: 20px;
              padding-top: 5px;

                .total{
                  color: white;
                  font-size: 30px;
                  font-family: 'OpenSans-SemiBold','Courier New', Courier, monospace;
                }

                .butBuy{
                  margin-left: 20px;
                    letter-spacing: 0.1em;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 45px;
                    max-width: 160px;
                    position: relative;
                    text-decoration: none;
                    text-transform: uppercase;
                    width: 100%;
                  }
                  .btn:hover {
                    text-decoration: none;
                  }
                  
                  /*btn_background*/
                  .effect01 {
                    color: #FFF;
                    border: 4px solid rgb(0, 67, 143);
                    box-shadow:0px 0px 0px 1px rgb(0, 0, 0) inset;
                    background-color: rgb(0, 91, 177);
                    overflow: hidden;
                    position: relative;
                    transition: all 0.3s ease-in-out;
                    font-size: 23px;
                    font-family: 'OpenSans-SemiBold';
                  }
                  .effect01:focus {
                    border: 4px solid rgb(102, 102, 102);
                    background-color: #FFF;
                    box-shadow:0px 0px 0px 4px #EEE inset;
                    color: rgb(0, 0, 0);
                  }
                  
                  .effect01:focus{
                      outline: none;
                  }
                  /*btn_text*/
                  .effect01 span {
                    transition: all 0.2s ease-out;
                    z-index: 2;
                  }
                  .effect01:focus span{
                    letter-spacing: 0.13em;
                    color: #333;
                  }
                  
                  /*highlight*/
                  .effect01:after {
                    background: #FFF;
                    border: 0px solid #000;
                    content: "";
                    height: 155px;
                    left: -75px;
                    opacity: .8;
                    position: absolute;
                    top: -50px;
                    -webkit-transform: rotate(35deg);
                            transform: rotate(35deg);
                    width: 50px;
                    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
                    z-index: 1;
                  }
                  .effect01:focus:after {
                    background: #FFF;
                    border: 20px solid #000;
                    opacity: 0;
                    left: 120%;
                    -webkit-transform: rotate(40deg);
                            transform: rotate(40deg);
                  }
            }
        }

        
    }

}
input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
            margin: 0;
            }
} 

@media screen and (max-width: 767px){
  .home{
    width: 100%;
    min-height: 600px;

    .container{
        width: 98%;
        min-height: 600px;
        margin:10px auto;
        display: flex;
        flex-direction: column;

        .orders{
            width: 100%;
            margin-bottom: 20px;

            .nameComponent{
                width: 100%;
                height: 50px;
                color: white;
                font-family: "Roboto-Bold", "Courier New", Courier, monospace;
                margin-bottom: 15px;
                font-size: 45px;
                padding-left: 20px;
                margin-top: 5px;
               text-align: center;
               animation: neonBasket 0.5s ease-in-out infinite alternate;
            }

            @keyframes neonBasket {
              from {
                text-shadow:
                0 0 6px rgba(202,228,225,0.92),
                0 0 30px rgba(202,228,225,0.34),
                0 0 12px rgba(30,132,242,0.52),
                0 0 21px rgba(30,132,242,0.92),
                0 0 34px rgba(30,132,242,0.78),
                0 0 54px rgba(30,132,242,0.92);
              }
              to {
                text-shadow:
                0 0 6px rgba(202,228,225,0.98),
                0 0 30px rgba(202,228,225,0.42),
                0 0 12px rgba(30,132,242,0.58),
                0 0 22px rgba(30,132,242,0.84),
                0 0 38px rgba(30,132,242,0.88),
                0 0 60px rgba(30,132,242,1);
              }
            }

            .order-block{
                width: 100%;
                height: 185px;
                margin-bottom: 30px;
                margin: auto;
                background-color: #011c5c;
                margin-top: 20px;
                display: flex;

                &:focus{
                    outline: 1px solid whitesmoke;
                    box-shadow: 1px 1px 15px 3px rgb(0, 34, 54);
                    border-radius: 3px;
                }

                .image-block{
                    width: 26%;
                    height: 185px;
                   display: flex;
                   justify-content: center;
                   align-items: center;

                    .imgWrapper{
                        width: 145px;
                        height: 150px;
                        background-image: url(/assets/images/The-Witcher-3-game);
                        background-size: 100% 95%;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }

                .name-block{
                    width: 30%;
                    height: 185px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .nameGame{
                        width: 90%;
                        color: white;
                        font-family: 'OpenSans-SemiBold','Courier New', Courier, monospace;
                        font-size: 15px;
                        text-align: center;
                        overflow: hidden;
                        line-height: 25px;
                    }
                }

                .count-block{
                    width: 17%;
                    height: 185px;
                    display: flex;
                    flex-direction: column;
                
                    .counter-block{
                        width: 100%;
                        height: 80px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 50px;

                        .product-qty{
                            width: 50px;
                            height: 35px;
                            font-size: 20px;
                            text-align: center;
                            font-family: 'Roboto-Bold','Courier New', Courier, monospace;
    
                            &:focus{
                                outline: none;
                            }
                        }
    
                        .productCount{
                            width: 40px;
                            height: 30px;
                            font-size: 50px;
                            color: white;
                            display: none;
                            justify-content: center;
                            align-items: center;
                          
                            
                        }
                        
                    }
                    

                    .many{
                        text-align: center;
                        color: white;
                        font-size: 20px;
                        font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    }
                }

                .price-block{
                    width: 25%;
                    height: 185px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .mainPrice{
                        font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        font-size: 30px;
                        color: white;
                        width: 100%;
                        text-align: center;
                    }
                }

                .delete-block{
                    width: 35px;
                    height: 50px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    .close {
                        position: relative;
                        right: 0px;
                        width: 32px;
                        height: 32px;
                        opacity: 0.3;
                        }
                        .close:focus {
                        opacity: 1;
                        background-color: rgb(170, 170, 170);
                        outline: none;
                        }
                        .close:before, .close:after {
                        position: absolute;
                        left: 15px;
                        content: ' ';
                        height: 33px;
                        width: 2px;
                        background-color: rgb(255, 255, 255);
                        }
                        .close:before {
                        transform: rotate(45deg);
                        }
                        .close:after {
                        transform: rotate(-45deg);
                        }
                }

            }
        }

        .right-block{
            width: 100%;
            height: 600px;
            background-color: #011c5c;
            
            #datah{
                width: 100%;
                height: 50px;
                color: white;
                font-size: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Montserrat-nameGame','Courier New', Courier, monospace;
            }

            .inputs{
                width: 95%;
                height: 395px;
                margin: auto;
                margin-top: 20px;
                
/*Inputs*/
label {
  position: relative;
  display: block;
  /*Light inputs*/
}

label:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
  background: #0e0e0e;
  z-index: 2;
  content: '';
  -webkit-transition: height 300ms linear;
  -o-transition: height 300ms linear;
  transition: height 300ms linear;
}

label:after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 0;
  background: #0e0e0e;
  -webkit-transition: height 300ms linear;
  -o-transition: height 300ms linear;
  transition: height 300ms linear;
  z-index: 2;
  content: '';
}

label .firstBorderElement:before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: #0e0e0e;
  -webkit-transition: width 375ms linear;
  -o-transition: width 375ms linear;
  transition: width 375ms linear;
  z-index: 2;
  content: '';
}

label .firstBorderElement:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: #0e0e0e;
  -webkit-transition: width 375ms linear;
  -o-transition: width 375ms linear;
  transition: width 375ms linear;
  z-index: 2;
  content: '';
}

label .secondBorderElement:before {
  position: absolute;
  top: 0;
  right: 50%;
  width: 0;
  height: 1px;
  background: #0e0e0e;
  -webkit-transition: width 375ms linear;
  -o-transition: width 375ms linear;
  transition: width 375ms linear;
  z-index: 2;
  content: '';
}

label .secondBorderElement:after {
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 1px;
  background: #0e0e0e;
  -webkit-transition: width 375ms linear;
  -o-transition: width 375ms linear;
  transition: width 375ms linear;
  z-index: 2;
  content: '';
}

label.active:before, label.active:after {
  height: 100%;
}

label.active .firstBorderElement:before, label.active .firstBorderElement:after,
label.active .secondBorderElement:before,
label.active .secondBorderElement:after {
  width: 50%;
}

label.light .simpleInput {
  border-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}

label.light:before, label.light:after {
  background: #fff;
}

label.light .firstBorderElement:before, label.light .firstBorderElement:after,
label.light .secondBorderElement:before,
label.light .secondBorderElement:after {
  background: #fff;
}


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #0e0e0e;
  opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #0e0e0e;
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #0e0e0e;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #0e0e0e;
  opacity: 1;
}

label.light input::-webkit-input-placeholder,
label.light textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

label.light input:-moz-placeholder,
label.light textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

label.light input::-moz-placeholder,
label.light textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

label.light input:-ms-input-placeholder,
label.light textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

/* inputs */


.inputElementWrapper {
  width: 100%;
  position: relative;
  margin-bottom: 17px;
  height: 50px;
}

.inputElementItem, .textareaElementItem {
  border: 1px solid #ccc;
  padding: 9px 14px;
  transition: 0.4s;
  background: transparent;
  font: 18px/24px "Lato", Arial, sans-serif;
  color: rgb(255, 255, 255);
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  height: 50px;

}

.inputElementItem ~ .focus-border:before,
.inputElementItem ~ .focus-border:after,
.textareaElementItem ~ .focus-border:before,
.textareaElementItem ~ .focus-border:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #00a2ff;
  transition: 0.4s;
}

.inputElementItem ~ .focus-border:after,
.textareaElementItem ~ .focus-border:after {
  top: auto;
  bottom: 0;
}

.inputElementItem ~ .focus-border i:before,
.inputElementItem ~ .focus-border i:after,
.textareaElementItem ~ .focus-border i:before,
.textareaElementItem ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #00a2ff;
  transition: 0.6s;

}

.inputElementItem ~ .focus-border i:after,
.textareaElementItem ~ .focus-border i:after {
  left: auto;
  right: 0;
  
}

.inputElementItem:focus ~ .focus-border:before,
.inputElementItem:focus ~ .focus-border:after,
.textareaElementItem:focus ~ .focus-border:before,
.textareaElementItem:focus ~ .focus-border:after {
  left: 0;
  width: 100%;
  transition: 0.4s;


}

.inputElementItem:focus ~ .focus-border i:before,
.inputElementItem:focus ~ .focus-border i:after,
.textareaElementItem:focus ~ .focus-border i:before,
.textareaElementItem:focus ~ .focus-border i:after{
  top: -1px;
  height: 100%;
  transition: 0.6s;


}

.inputElementItem ~ label,
.textareaElementItem ~ label {
  position: absolute;
  left: 14px;
  top: 10px;
  color: #ffffff;
  transition: 0.3s;
  letter-spacing: 0.5px;
  font-family: 'Montserrat-nameGame','Courier New', Courier, monospace;

}

.inputElementItem::placeholder,
.textareaElementItem::placeholder {
  color: transparent;
}

.inputElementItem:focus ~ label,
.textareaElementItem:focus ~ label {
  top: -13px;
  left: 0;
  font-size: 10px;
  color: #ffffff;
  transition: 0.3s;
  font-family: 'Montserrat-nameGame','Courier New', Courier, monospace;
}

.inputElementItem:not(:placeholder-shown):not([value=""]) ~ label,
.textareaElementItem:not(:placeholder-shown):not([value=""]) ~ label {
  top: -13px;
  left: 0;
  font-size: 11px;
  color: #ffffff;
  transition: 0.3s;
}

.changeB{
  margin-top: 15px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
textarea,
select {
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: none;
  border: none;
  margin: 0;
  width: 100%;
  font-family: 'Arial';
}

textarea {
  display: block;
  resize: none;
  overflow: auto;
}

/*Inputs*/

}
            .cuopon{
              display: flex;
              justify-content: space-around;
              width: 85%;
              height: 62px;
              align-items: center;
              margin: auto;

              .forCoupon{
                width: 400px;
                height: 40px;
                font-family: "Roboto-Bold", "Courier New", Courier, monospace;
                font-size: 15px;
                padding-left: 10px;
                text-transform: uppercase;

                &:focus{
                  outline: none;
                }
              }

              .butCoupon{
                width: 150px;
                height: 40px;
                background-color: rgb(40, 135, 212);
                border: none;
                color: white;
                font-family: 'Roboto','Courier New', Courier, monospace;
                font-size: 20px;
                transition: all 300ms ease; 
                margin-left: 10px;
                
                &:focus{
                    border-radius: 5px;
                    outline: none;
                    border: 3px solid rgb(150, 190, 223);
                    box-shadow: 1px 0px 6px rgb(102, 173, 231) ;
                }
                &:hover{
                    cursor: pointer;
                    background-color: rgb(34, 102, 158);
                    border-radius: 5px;
                }
            }

            }
            .for-butBuy{
              width: 95%;
              height: 60px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              border-top: 1px solid silver;
              margin: auto;
              padding-right: 20px;
              padding-top: 5px;

                .total{
                  color: white;
                  font-size: 30px;
                  font-family: 'OpenSans-SemiBold','Courier New', Courier, monospace;
                }

                .butBuy{
                  margin-left: 20px;
                    letter-spacing: 0.1em;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 45px;
                    max-width: 160px;
                    position: relative;
                    text-decoration: none;
                    text-transform: uppercase;
                    width: 100%;
                  }
                  .btn:hover {
                    text-decoration: none;
                  }
                  
                  /*btn_background*/
                  .effect01 {
                    color: #FFF;
                    border: 4px solid rgb(0, 67, 143);
                    box-shadow:0px 0px 0px 1px rgb(0, 0, 0) inset;
                    background-color: rgb(0, 91, 177);
                    overflow: hidden;
                    position: relative;
                    transition: all 0.3s ease-in-out;
                    font-size: 23px;
                    font-family: 'OpenSans-SemiBold';
                  }
                  .effect01:focus {
                    border: 4px solid rgb(102, 102, 102);
                    background-color: #FFF;
                    box-shadow:0px 0px 0px 4px #EEE inset;
                    color: rgb(0, 0, 0);
                  }
                  
                  .effect01:focus{
                      outline: none;
                  }
                  /*btn_text*/
                  .effect01 span {
                    transition: all 0.2s ease-out;
                    z-index: 2;
                  }
                  .effect01:focus span{
                    letter-spacing: 0.13em;
                    color: #333;
                  }
                  
                  /*highlight*/
                  .effect01:after {
                    background: #FFF;
                    border: 0px solid #000;
                    content: "";
                    height: 155px;
                    left: -75px;
                    opacity: .8;
                    position: absolute;
                    top: -50px;
                    -webkit-transform: rotate(35deg);
                            transform: rotate(35deg);
                    width: 50px;
                    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
                    z-index: 1;
                  }
                  .effect01:focus:after {
                    background: #FFF;
                    border: 20px solid #000;
                    opacity: 0;
                    left: 120%;
                    -webkit-transform: rotate(40deg);
                            transform: rotate(40deg);
                  }
            }
        }

        
    }

}
input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
            margin: 0;
            }
}