@media screen and (min-width: 970px) {
    .containerFoot{
        background-color: black;
        width: 100%;
        height: 150px;
        position: relative;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
    
        .social-networks{
            width: 300px;
            height: 150px;
            
    
            #be-with-us{
                color: white;
               width: 100%;
               height: 60px;
               display: flex;
               justify-content: center;
               align-items: flex-end;
               font-family: 'Roboto','Courier New', Courier, monospace;
            }
    
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                position: relative;
                top: 20%;
                left: 40%;
                transform: translate(-30%,-30%);
            }
            
            ul li{
                list-style: none;
                margin: 0 10px;
            }
            ul li a{
                position: relative;
                display: block;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 60px;
                background: black;
                border-radius: 50%;
                font-size: 30px;
                color: #666;
                transition: 0.5s;
            }
            
            .fa-facebook{
                position: absolute;
                top: 5px;
                left: 5px;
            }
            .fa-youtube{
                position: absolute;
                top: 5px;
                left: 3px;
            }
            .fa-instagram{
                position: absolute;
                top: 5px;
                left: 7px;
            }
            .fa-playstation{
                position: absolute;
                top: 5px;
                left: 3px;
            }
            
            ul li a::before{
                content: '';
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background:#003dc2;
                transition: 0.5s;
                transform: scale(0.9);
                z-index: -1;
            }
            
            ul li a:hover:before{
                transform: scale(1.1);
                box-shadow: 0 0 15px #003dc2;
            }
            
            ul li a:hover{
                color: #003dc2;
                box-shadow: 0 0 15px #003dc2;
            }
        }
    
        .categories{
            width: 500px;
            height: 150px;
            margin-left: 50px;
            display: flex;
           
    
            .left-part{
                width: 50%;
                height: 150px;
                 padding: 5px;
            }
            .right-part{
                width: 50%;
                height: 150px;
                padding: 5px;
            }
            .categor{
                color: white;
                font-size: 20px;
                margin-top: 15px;
                margin-left: 10px;
                font-family: 'Montserrat',monospace;
                cursor: pointer;
                width: 60%;
    
                &:hover{
                    color: rgb(0, 126, 243);
                   
                }
                &:focus{
                    outline: none;
                }
        }
        .categor.active{
            color: rgb(0, 126, 243);
        }
        .psPlus:hover{
            cursor: pointer;
            color: gold;
        }
        .categor.activePlus{
            color: gold;
        }
    }
    
    .logo{
        width: 220px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        #footIMG{
            width: 50%;
            height: 50%;
        }
    }
    
    .contacts{
        width: 300px;
        height: 150px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .support{
            color: white;
            text-decoration: underline;
            margin-top: 5px;
            font-family: "Poppins", monospace;
        }
        #tel{
            margin-top: 10px;
            color: white;
            font-family: "Roboto", monospace;
            font-size: smaller;
    
            .fa-mobile-alt{
                margin-right: 5px;
            }
        }
    }
    
    .goHome{
        min-width: 91px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .footHome{
            color: white;
            font-size: 16px;
            margin-top: 10px;
            margin-left: 10px;
            font-family: 'Montserrat',monospace;
            cursor: pointer;
            width: 100%;
        
                    &:hover{
                        color: rgb(0, 126, 243);
                       
                    }
                    &:focus{
                        outline: none;
                    }
                }
                .footHome.active{
                    color: rgb(0, 126, 243);
                }
    }
    }
}

////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 969px){
    .containerFoot{
        background-color: black;
        width: 100%;
        height: 150px;
        position: relative;
        bottom: 0;
        left: 0;
        display: flex;
    
    
        .social-networks{
            width: 220px;
            height: 150px;
            
    
            #be-with-us{
                color: white;
               width: 100%;
               height: 60px;
               display: flex;
               justify-content: center;
               align-items: flex-end;
               font-family: 'Roboto-Bold','Courier New', Courier, monospace;
            }
    
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                position: relative;
                top: 20%;
                left: 30%;
                transform: translate(-30%,-30%);
            }
            
            ul li{
                list-style: none;
                margin: 0 10px;
            }
            ul li a{
                position: relative;
                display: block;
                width: 35px;
                height: 35px;
                text-align: center;
                line-height: 55px;
                background: black;
                border-radius: 50%;
                font-size: 25px;
                color: #666;
                transition: 0.5s;
            }
            
            .fa-facebook{
                position: absolute;
                top: 5px;
                left: 5px;
            }
            .fa-youtube{
                position: absolute;
                top: 5px;
                left: 3px;
            }
            .fa-instagram{
                position: absolute;
                top: 5px;
                left: 7px;
            }
            .fa-playstation{
                position: absolute;
                top: 5px;
                left: 3px;
            }
            
            ul li a::before{
                content: '';
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background:#003dc2;
                transition: 0.5s;
                transform: scale(0.9);
                z-index: -1;
            }
            
            ul li a:focus:before{
                transform: scale(1.1);
                box-shadow: 0 0 15px #003dc2;
            }
            
            ul li a:focus{
                color: #003dc2;
                box-shadow: 0 0 15px #003dc2;
            }
        }
    
        .categories{
            width: 300px;
            height: 150px;
            margin-left: 20px;
            display: flex;
           
    
            .left-part{
                width: 270px;
                height: 150px;
                 padding: 5px;
            }
            .right-part{
                width: 230px;
                height: 150px;
                padding: 5px;
            }
            .categor{
                color: white;
                font-size: 20px;
                margin-top: 15px;
                margin-left: 10px;
                font-family: 'Montserrat',monospace;
                width: 60%;
    
                &:focus{
                    outline: none;
                    color: rgb(0, 126, 243);
                }
        }
        .categor.active{
            color: rgb(0, 126, 243);
        }
        .psPlus:focus{
            cursor: pointer;
            color: gold;
        }
        .categor.activePlus{
            color: gold;
        }
    }
    
    .logo{
        width: 170px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        #footIMG{
            width: 50%;
            height: 50px;
            display: none;
        }
    }
    
    .contacts{
        width: 250px;
        height: 150px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .support{
            color: white;
            text-decoration: underline;
            margin-top: 5px;
            font-family: "Poppins", monospace;
        }
        #tel{
            margin-top: 10px;
            color: white;
            font-family: "Roboto", monospace;
            font-size: smaller;
    
            .fa-mobile-alt{
                margin-right: 5px;
            }
        }
    }
    
    .goHome{
        min-width: 138px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .footHome{
            color: white;
            font-size: 16px;
            margin-top: 10px;
            margin-left: 10px;
            font-family: 'Montserrat',monospace;
            width: 60%;
                    &:focus{
                        outline: none;
                        color: rgb(0, 126, 243);
                    }
                }
                .footHome.active{
                    color: rgb(0, 126, 243);
                }
    }
    }
}

@media screen and (max-width: 767px){
    .containerFoot{
        background-color: black;
        width: 100%;
        min-height: 400px;
        position: relative;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
    
    
        .social-networks{
            width:100%;
            height: 150px;
            margin-bottom: 30px;
            
    
            #be-with-us{
                color: white;
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                font-family: "Roboto-Bold", "Courier New", Courier, monospace;
                font-size: 20px;
            }
    
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                position: relative;
                top: 20%;
                left: 39%;
                transform: translate(-30%, -30%);
                width: 220px;
            }
            
            ul li{
                list-style: none;
                margin: 0 10px;
            }
            ul li a{
                position: relative;
                display: block;
                width: 35px;
                height: 35px;
                text-align: center;
                line-height: 55px;
                background: black;
                border-radius: 50%;
                font-size: 25px;
                color: #666;
                transition: 0.5s;
            }
            
            .fa-facebook{
                position: absolute;
                top: 5px;
                left: 5px;
            }
            .fa-youtube{
                position: absolute;
                top: 5px;
                left: 3px;
            }
            .fa-instagram{
                position: absolute;
                top: 5px;
                left: 7px;
            }
            .fa-playstation{
                position: absolute;
                top: 5px;
                left: 3px;
            }
            
            ul li a::before{
                content: '';
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background:#003dc2;
                transition: 0.5s;
                transform: scale(0.9);
                z-index: -1;
            }
            
            ul li a:focus:before{
                transform: scale(1.1);
                box-shadow: 0 0 15px #003dc2;
            }
            
            ul li a:focus{
                color: #003dc2;
                box-shadow: 0 0 15px #003dc2;
            }
        }
    
        .categories{
            width: 100%;
            height: 60px;
            display: flex;
            margin-bottom: 20px;
            justify-content: space-around;
            margin-left: 0px;
    
            .left-part{
                height: 60px;
                padding: 0px;
                display: flex;
                width: 70%;
                justify-content: space-around;
                align-items: center;
            }
            .right-part{
                width: 30%;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .categor{
                color: white;
                font-size: 18px;
                font-family: "Montserrat", monospace;
                width: 100%;
                margin: 0px;
                text-align: center;

    
                &:focus{
                    outline: none;
                    color: rgb(0, 126, 243);
                }
        }
        .categor.active{
            color: rgb(0, 126, 243);
        }
        .psPlus:focus{
            cursor: pointer;
            color: gold;
        }
        .categor.activePlus{
            color: gold;
        }
    }
    
    .logo{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    
        #footIMG{
            width: 70px;
            height: 55px;
            display: block;

        }
    }
    
    .contacts{
        width: 100%;
        height: 150px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    
        .support{
            color: white;
            text-decoration: underline;
            margin-top: 5px;
            font-family: "Poppins", monospace;
        }
        #tel{
            margin-top: 10px;
            color: white;
            font-family: "Roboto", monospace;
            font-size: smaller;
            font-size: 15px;
    
            .fa-mobile-alt{
                margin-right: 5px;
            }
        }
    }
    
    .goHome{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

    
        .footHome{
            color: white;
            font-size: 16px;
            margin: 0;
            font-family: 'Montserrat',monospace;
            width: 60%;
            text-align: center;
                    &:focus{
                        outline: none;
                        color: rgb(0, 126, 243);
                    }
                }
                .footHome.active{
                    color: rgb(0, 126, 243);
                }
    }
    }
}