<div class="home">
    <div class="container">
       <div class="nameComponent">Ігрові консолі</div>
        <div class="gamesBlock">
            <div class="card">
                <div class="imageBlock"><div class="imageGame"></div></div>
                <div class="nameGame">PS4 Pro 1TB + Fortnite Gift</div>
                <div class="priceGame">
                    <p class="oldPrice">11 500 UAH</p>
                   <p class="mainPrice"> 10 000 UAH</p>
                </div>
            </div>

            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>

    </div>
</div>