<div class="home">
    <div class="container">
       <div class="nameComponent">Ігрові консолі</div>
        <div class="gamesBlock"  #target>
            <div class="card" *ngFor="let console of userConsoles| paginate: { itemsPerPage: 12, currentPage: p }"  [routerLink]="['/device-details/'+console?.subCategory, console?.nameEN]">
                <div class="imageBlock">
                    <img class="imageGame" [src]='console?.image1'></div>
                <div class="nameGame">{{console?.nameEN}}</div>
                <div class="priceGame">
                    <p class="oldPrice" *ngIf="console?.oldPrice!==null">{{console?.oldPrice}} UAH</p>
                    <p class="oldPrice" *ngIf="console?.oldPrice==null"></p>
                   <p class="mainPrice">{{console?.mainPrice}} UAH</p>
                </div>
            </div>
            <pagination-controls class="myPagination" (click)="scrollUp(target)" (pageChange)="p = $event"></pagination-controls>
        </div>

    </div>
</div>