<div class="home">
    <ul class="breadcrumb">
        <li>
          <a [routerLink]="[ '/home' ]" [ngStyle]="{'text-decoration': 'none'}">
            <span id="mainF" >Головна</span>
          </a>
          <span id="slash">/</span>
        </li>
        <li *ngIf="userProduct?.category=='ігри'">
          <a [routerLink]="[ '/games']" [ngStyle]="{'text-decoration': 'none'}">
            <span id="mainF">{{userProduct?.category|titlecase}}</span>
          </a>
          <span id="slash">/</span>
        </li>
        <li *ngIf="userProduct?.category=='консолі'">
          <a [routerLink]="[ '/game-consoles']" [ngStyle]="{'text-decoration': 'none'}">
            <span id="mainF">{{userProduct?.category|titlecase}}</span>
          </a>
          <span id="slash">/</span>
        </li>
        <li *ngIf="userProduct?.category=='гаджети'">
          <a [routerLink]="[ '/gadgets']" [ngStyle]="{'text-decoration': 'none'}">
            <span id="mainF">{{userProduct?.category|titlecase}}</span>
          </a>
          <span id="slash">/</span>
        </li>
        <li>
          <a>
            <span id="mainFName">{{userProduct?.nameUA}}</span>
          </a>
        </li>
      </ul>
    
      <div class="container">

        <div class="game">
            <div class="imageBlock"><img class="imageGame" [src]='userProduct?.image1' alt=""></div>
           
            <div class="priceGame">
                <p class="oldPrice" *ngIf="userProduct?.oldPrice!==null">{{userProduct?.oldPrice}} UAH</p>
                <p class="oldPrice" *ngIf="userProduct?.oldPrice==null"></p>
                  <p class="mainPrice">{{userProduct?.mainPrice}} UAH</p>
            </div>

            <div class="buyGame">
                <button type="button" class="buttonBuy" [routerLink]="[ '/basket']" (click)="addBasket(userProduct)">Купити</button>
            </div>
            
            <div class="with"  *ngIf="userProduct?.category=='ігри'">
                <p id="withP">Сумісний зі системами</p>
                <p id="ps4">PS4</p>
            </div>
            <p id="withPlus"  *ngIf="userProduct?.category=='ігри'">Для сетевой многопользовательской игры требуется платная подписка на PlayStation Plus</p>
            <p id="zhanrGame" *ngIf="userProduct?.category=='ігри'">Жанр: {{userProduct?.subCategory}}</p>
            <p id="weightGame"  *ngIf="userProduct?.category=='ігри'">Розмір файлу: {{userProduct?.size}} GB</p>
        </div>

        <div class="About-game">
            <div class="nameGame">{{userProduct?.nameUA}}</div>

              <div class="w3-content" *ngIf="userProduct?.image2!==''">
                  <div class="big-slides" *ngIf="userProduct?.image2!==''">
                    <img class="mySlides1" [src]='userProduct?.image2' alt="">
                    <img class="mySlides1" [src]='userProduct?.image3' alt="" [ngStyle]="{'display': 'none'}">
                    <img class="mySlides1" [src]='userProduct?.image4' alt="" [ngStyle]="{'display': 'none'}">    
                    <img class="mySlides1" [src]='userProduct?.image5' alt="" [ngStyle]="{'display': 'none'}">    
                  </div>

               <div class="little-slides">

                      <img class="imageCarousel" *ngIf="userProduct?.image2!==''" [src]='userProduct?.image2' (click)="currentDiv(1)">


                      <img class="imageCarousel" *ngIf="userProduct?.image3!==''"  [src]='userProduct?.image3'  (click)="currentDiv(2)">

 
                      <img class="imageCarousel" *ngIf="userProduct?.image4!==''"  [src]='userProduct?.image4'  (click)="currentDiv(3)">

                      <img class="imageCarousel" *ngIf="userProduct?.image5!==''"  [src]='userProduct?.image5'  (click)="currentDiv(4)">

               </div>
               
              </div>
              <div class="forH1">Опис</div>
              <hr id="hr1">
              
              <div class="box-text-about">
               <p class="text-about">{{userProduct?.description}}</p> 
              </div>
        </div>
    </div>

<!-- for mobile --><!-- for mobile --><!-- for mobile --><!-- for mobile --><!-- for mobile --><!-- for mobile --><!-- for mobile -->
    <div class="containerMobile">
      <div class="nameGameMobile">{{userProduct?.nameUA}}</div>
      <div class="imageBlockMobile"><img class="imageGameMobile" [src]='userProduct?.image1' alt=""></div>
      
      <div class="priceGameMobile">
        <p class="oldPriceMobile" *ngIf="userProduct?.oldPrice!==null">{{userProduct?.oldPrice}} UAH</p>
        <p class="oldPriceMobile" *ngIf="userProduct?.oldPrice==null"></p>
        <p class="mainPriceMobile">{{userProduct?.mainPrice}} UAH</p>
    </div>

    <div class="buyGameMobile">
      <button type="button" class="buttonBuy"[routerLink]="[ '/basket']"  (click)="addBasket(userProduct)">Купити</button>
  </div>

  <div class="images" *ngIf="userProduct?.image2!==''">
    <div class="big-slidesMobile" *ngIf="userProduct?.image2!==''">
      <img class="mySlides-Mobile" *ngIf="userProduct?.image2!==''" [src]='userProduct?.image2'>
      <img class="mySlides-Mobile" *ngIf="userProduct?.image3!==''" [src]='userProduct?.image3'>
      <img class="mySlides-Mobile" *ngIf="userProduct?.image4!==''" [src]='userProduct?.image4'>    
      <img class="mySlides-Mobile" *ngIf="userProduct?.image5!==''" [src]='userProduct?.image5'>    
    </div>
</div>


<div class="About-gameMobile" >
  <div class="forH1Mobile">Опис</div>
  <hr id="hr1Mobile">
 

  <div class="withMobile" *ngIf="userProduct?.category=='ігри'">
    <p id="withPMobile">Сумісний зі системами:</p>
    <p id="ps4Mobile">PS4</p>
  </div>

  <div class="infoMobile" *ngIf="userProduct?.category=='ігри'">
    <p id="withPlusMobile">Для сетевой многопользовательской игры требуется платная подписка на PlayStation Plus</p>
    <p id="zhanrGameMobile">Жанр: {{userProduct?.subCategory}}</p>
    <p id="weightGameMobile">Розмір файлу: {{userProduct?.size}} GB</p>
  </div>

  <div class="box-text-aboutMobile">
   <p class="text-aboutMobile">{{userProduct?.description}}</p> 
  </div>

</div>

  </div>
<!-- for mobile --><!-- for mobile --><!-- for mobile --><!-- for mobile --><!-- for mobile --><!-- for mobile --><!-- for mobile -->

</div>
