@media screen and (min-width: 970px) {
    .home{
        width: 100%;
        min-height: 600px;
    
        .breadcrumb {
            background-color: transparent;
            padding-left: 10px;
            height: 27px;
            display: flex;
            align-items: center;
            margin-top: 5px;
            font-size: 18px;
            color: white;
            font-family: "Montserrat", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    
            #mainF{
                text-decoration: none;
                cursor: pointer;
                color: lightseagreen;
            
                &:focus{
                outline: none;
                }
                &:hover{
                    color: white;
                }
            }
            
           
            #mainFName{
                text-decoration: none;
                color: lightseagreen;}
          }
          #slash{
            margin-right: 5px;
            margin-left: 5px;
            color: lightseagreen;
        }
          
          .containerMobile{
            display: none;
        }
        .container{
            width: 80%;
            min-height: 600px;
            margin:10px auto;
            display: flex;
            background-color: rgb(6, 1, 27);
            
    
            .game{
                width: 300px;
                display: flex;
                flex-direction: column;
                color: white;
                background-color: rgb(44, 44, 44);
    
                .imageBlock{
                    width: 100%;
                    height: 362px;
                    display: flex;
                    justify-content: center;
    
                    .imageGame{
                        width: 100%;
                        height: 360px;
                        background-position: center;
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                    }
                }
    
                .priceGame{
                    width: 95%;
                    height: 90px;
                    margin: 0px auto;
                    text-align: center;
                    line-height: 40px;
                    display: flex;
                    border-radius: 2px;
                    flex-direction: column;
    
                        .oldPrice{
                            text-decoration: line-through;
                            color: white;
                            font-family: "Montserrat-Oldprice", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            font-size: 16px;
                            width: 100%;
                            min-height: 35px;
                        }
    
                        .mainPrice{
                            font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            font-size: 37px;
                            color: white;
                            width: 100%;
                            text-align: center;
                        }
                        
                }
                .buyGame{
                    width: 100%;
                    height: 50px;
                    margin-top: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .buttonBuy{
                        width: 97%;
                        height: 50px;
                        cursor: pointer;
                        font-size: 30px;
                        font-family: "Roboto-Bold", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        border-radius: 3px;
                        border: none;
                        color: rgb(53, 53, 53);
                        transition: all 500ms ease; 
                        background-color: white;
    
                        &:hover{
                            background-color: rgb(7, 36, 129);
                            color: white;
                            border-radius: 6px;
                            font-size: 32px;
                        }
    
                        &:focus{
                            outline: none;
                        }
                    }
    
    
                }
    
                .with{
                    width: 97%;
                    height: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 20px;
    
                    #withP{
                        width: 100%;
                        height: 25px;
                        color: rgb(138, 138, 138);
                        font-size: 17px;
                        font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        text-align: center;
                    }
                    #ps4{
                        text-align: center;
                        background-color: black;
                        color: white;
                        width: 50px;
                        height: 25px;
                        line-height: 25px;
                        font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        border-radius: 3px;
                    }
                }
    
                #withPlus{
                    margin-bottom: 20px;
                    color: gold;
                    font-family: "Montserrat", "Courier New", Courier, monospace;
                    margin-top: 20px;
                    width: 94%;
                    font-size: 13px;
                    text-align: center;
                }
    
                #zhanrGame{
                    margin-bottom: 20px;
                    color: rgb(201, 201, 201);
                    font-family: "OpenSans-SemiBold", "Courier New", Courier, monospace;
                    font-size: 20px;
                    margin-top: 11px;
                    margin-left: 10px;
                }
    
                #weightGame{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    color: rgb(201, 201, 201);
                    font-family: "Roboto-Bold", "Courier New", Courier, monospace;
                    width: 95%;
                    margin-left: 10px;
                    font-size: 20px;
                }
            }
    
            .About-game{
                width: 88%;
                min-height: 500px;
                margin-left: 10px;
                padding-left: 20px;
    
                .nameGame{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    color: white;
                    font-size: 45px;
                    max-height: 100px;
                    font-family:'Montserrat-nameGame', 'Courier New', Courier, monospace;
                    border-bottom: 3px solid rgb(165, 165, 165);
                    border-radius:0px 0px 0px 5px;
                    margin-bottom: 10px;
                    padding: 5px;

                }
          
                .w3-content{
                    width: 100%;
                    height: 470px;
                    margin: auto;
                    margin-bottom: 40px;
    
                    .big-slides{
                        width: 60%;
                        height: 320px;
                        margin: auto;
    
                        .mySlides1{
                            width: 100%;
                            height: 320px;
                            cursor: pointer;
                        }
                    }
                    .little-slides{
                        width: 65%;
                        display: flex;
                        height: 101px;
                        justify-content: space-around;
                        margin-top: 10px;
                        margin: 10px auto;
                        flex-flow: row wrap;
    
                        .imageCarousel{
                            width: 140px;
                            height: 90px;
                            cursor: pointer;
                        }
                    }
                    
                }
                #hr1{
                    width: 95%;
                }
    
                .forH1{
                    width: 100%;
                    height: 54px;
                    display: flex;
                    justify-content: center;
                    color: white;
                    font-size: 45px;
                    max-height: 100px;
                    font-family:'Montserrat-nameGame', 'Courier New', Courier, monospace;
    
                }
                .box-text-about{
                    width: 95%;
                    min-height: 250px;
                    margin-top: 30px;
                    padding-left: 80px;
    
                    .text-about{
                        color: white;
                        font-family: "Montserrat", "Courier New", Courier, monospace;
                        line-height: 25px;
                        width: 79%;
                        min-height: 1px;
                    }
    
                }
            }
        }
    
    }
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 969px){
    .home{
        width: 100%;
        min-height: 600px;
    
        .breadcrumb {
            background-color: transparent;
            padding-left: 10px;
            height: 27px;
            display: flex;
            align-items: center;
            margin-top: 5px;
            font-size: 18px;
            color: white;
            font-family: "Montserrat", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    
            #mainF{
                text-decoration: none;
                cursor: pointer;
                color: lightseagreen;
                
               
                &:focus{
                outline: none;
                }
                &:hover{
                    color: white;
                }
            }
            
            
            #mainFName{
                text-decoration: none;
                color: lightseagreen;}
          }
          #slash{
            margin-right: 5px;
            margin-left: 5px;
            color: lightseagreen;
        }


          .containerMobile{
            display: none;
        }
        .container{
            width: 95%;
            min-height: 600px;
            margin:10px auto;
            display: flex;
            background-color: rgb(6, 1, 27);
            
    
            .game{
                width: 300px;
                display: flex;
                flex-direction: column;
                color: white;
                background-color: rgb(44, 44, 44);
    
                .imageBlock{
                    width: 100%;
                    height: 350px;
                    display: flex;
                    justify-content: center;
    
                    .imageGame{
                        width: 100%;
                        height: 350px;
                        background-position: center;
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                    }
                }
    
                .priceGame{
                    width: 95%;
                    height: 90px;
                    margin: 0px auto;
                    text-align: center;
                    line-height: 40px;
                    display: flex;
                    border-radius: 2px;
                    flex-direction: column;
    
                        .oldPrice{
                            text-decoration: line-through;
                            color: white;
                            font-family: "Montserrat-Oldprice", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            font-size: 16px;
                            width: 100%;
                            min-height: 35px;
                        }
    
                        .mainPrice{
                            font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            font-size: 37px;
                            color: white;
                            width: 100%;
                            text-align: center;
                        }
                        
                }
                .buyGame{
                    width: 100%;
                    height: 50px;
                    margin-top: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .buttonBuy{
                        width: 97%;
                        height: 50px;
                        font-size: 30px;
                        font-family: "Roboto-Bold", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        border-radius: 3px;
                        border: none;
                        color: rgb(53, 53, 53);
                        transition: all 500ms ease; 
                        background-color: white;
    
                        &:focus{
                            background-color: rgb(7, 36, 129);
                            color: white;
                            border-radius: 6px;
                            font-size: 32px;
                            outline: none;
                        }
                    }
    
    
                }
    
                .with{
                    width: 97%;
                    height: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 20px;
    
                    #withP{
                        width: 100%;
                        height: 25px;
                        color: rgb(138, 138, 138);
                        font-size: 17px;
                        font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        text-align: center;
                    }
                    #ps4{
                        text-align: center;
                        background-color: black;
                        color: white;
                        width: 50px;
                        height: 25px;
                        line-height: 25px;
                        font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        border-radius: 3px;
                    }
                }
    
                #withPlus{
                    margin-bottom: 20px;
                    color: gold;
                    font-family: "Montserrat", "Courier New", Courier, monospace;
                    margin-top: 20px;
                    width: 94%;
                    font-size: 13px;
                    text-align: center;
                }
    
                #zhanrGame{
                    margin-bottom: 20px;
                    color: rgb(201, 201, 201);
                    font-family: "OpenSans-SemiBold", "Courier New", Courier, monospace;
                    font-size: 20px;
                    margin-top: 11px;
                    margin-left: 10px;
                }
    
                #weightGame{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    color: rgb(201, 201, 201);
                    font-family: "Roboto-Bold", "Courier New", Courier, monospace;
                    width: 95%;
                    margin-left: 10px;
                    font-size: 20px;
                }
            }
    
            .About-game{
                width: 88%;
                min-height: 500px;
                margin-left: 10px;
                padding-left: 20px;
    
                .nameGame{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    color: white;
                    font-size: 40px;
                    max-height: 100px;
                    font-family:'Montserrat-nameGame', 'Courier New', Courier, monospace;
                    border-bottom: 3px solid rgb(165, 165, 165);
                    border-radius:0px 0px 0px 5px;
                    margin-bottom: 10px;
                    padding: 5px;
                }
          
                .w3-content{
                    width: 100%;
                    height: 450px;
    
                    .big-slides{
                        width: 95%;
    
                        .mySlides1{
                            width: 100%;
                            height: 320px;
                            cursor: pointer;
                        }
                    }
                    .little-slides{
                        width: 95%;
                        display: flex;
                        height: 101px;
                        justify-content: space-between;
                        margin-top: 10px;
    
                        .imageCarousel{
                            width: 23%;
                            height: 90px;
                            cursor: pointer;
                        }
                    }
                    
                }
                #hr1{
                    width: 95%;
                }
    
                .forH1{
                    width: 100%;
                    height: 54px;
                    display: flex;
                    justify-content: center;
                    color: white;
                    font-size: 45px;
                    max-height: 100px;
                    font-family:'Montserrat-nameGame', 'Courier New', Courier, monospace;
    
                }
                .box-text-about{
                    width: 95%;
                    min-height: 250px;
                    margin-top: 30px;
                    padding-left: 70px;
    
                    .text-about{
                        color: white;
                        font-family: "Montserrat", "Courier New", Courier, monospace;
                        line-height: 25px;
                        width: 100%;
                        min-height: 1px;
                    }
    
                }
            }
        }
    
    }
}

@media screen and (max-width: 767px){
    .home{
        width: 100%;
        min-height: 600px;
    
        .breadcrumb {
            background-color: transparent;
            padding-left: 10px;
            height: 27px;
            display: flex;
            align-items: center;
            margin-top: 5px;
            font-size: 15px;
            color: white;
            font-family: "Montserrat", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    
            #mainF{
                text-decoration: none;
                cursor: pointer;
                color: lightseagreen;
                
               
                &:focus{
                outline: none;
                }
                &:hover{
                    color: white;
                }
            }
            
            
            #mainFName{
                text-decoration: none;
                color: lightseagreen;}
          }
          #slash{
            margin-right: 5px;
            margin-left: 5px;
            color: lightseagreen;
        }
          
    
        .container{
            width: 99%;
            min-height: 600px;
            margin: 10px auto;
            display: none;
            background-color: #06011b;
        }
    
        .containerMobile{
            width: 99%;
            min-height: 600px;
            margin: 10px auto;
            background-color: #06011b;
            display:block;

            .nameGameMobile{
                width: 100%;
                color: white;
                font-size: 35px;
                min-height: 54px;
                font-family:'Montserrat-nameGame', 'Courier New', Courier, monospace;
                margin-bottom: 10px;
                text-align: center;
            }

            .imageBlockMobile{
                width: 100%;
                height: 350px;
                display: flex;
                justify-content: center;
                
                .imageGameMobile{
                    width: 60%;
                    height: 350px;
                    background-position: center;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }
            }
            .priceGameMobile{
                width: 95%;
                height: 90px;
                margin: 0px auto;
                text-align: center;
                line-height: 40px;
                display: flex;
                border-radius: 2px;
                flex-direction: column;
                
                .oldPriceMobile{
                    text-decoration: line-through;
                    color: white;
                    font-family: "Montserrat-Oldprice", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    font-size: 16px;
                    width: 100%;
                    min-height: 20px;
                }
                
                .mainPriceMobile{
                   font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                   font-size: 50px;
                   color: white;
                   width: 100%;
                   text-align: center;
                   margin-top: 15px;
                }
                                       
            }

            .buyGameMobile{
                width: 100%;
                height: 50px;
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                .buttonBuy{
                    width: 97%;
                    height: 50px;
                    font-size: 30px;
                    font-family: "Roboto-Bold", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    border-radius: 3px;
                    border: none;
                    color: rgb(53, 53, 53);
                    transition: all 500ms ease; 
                    background-color: white;

                    &:focus{
                        background-color: rgb(7, 36, 129);
                        color: white;
                        border-radius: 6px;
                        font-size: 32px;
                        outline: none;
                    }
                }
                
                
            }

            .images{
                width: 100%;
                min-height: 320px;
                margin-top: 40px;
                display: flex;
                flex-flow: row wrap;
            
                .big-slidesMobile{
                    width: 100%;
                    display: flex;
                    height: 100px;
                    flex-flow: row wrap;
                    justify-content: space-around;
            
                 .mySlides-Mobile{
                    width: 49%;
                    height: 150px;
                    margin-bottom: 5px;
                    }
                }
                            
            }
            .About-gameMobile{
                width: 98%;
                #hr1Mobile{
                    width: 95%;
                }
                .forH1Mobile{
                    width: 100%;
                    height: 54px;
                    display: flex;
                    justify-content: center;
                    color: white;
                    font-size: 45px;
                    max-height: 100px;
                    font-family:'Montserrat-nameGame', 'Courier New', Courier, monospace;
                }
                
                .withMobile{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    #withPMobile{
                        width: 45%;
                        height: 25px;
                        color: rgb(138, 138, 138);
                        font-size: 17px;
                        font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        text-align: center;
                    }
                    #ps4Mobile{
                        width: 100px;
                        text-align: center;
                        background-color: black;
                        color: white;
                        width: 50px;
                        height: 25px;
                        line-height: 25px;
                        font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        border-radius: 3px;
                        }
                }

                .infoMobile{
                    width: 100%;

                    #withPlusMobile{
                        color: gold;
                        font-family: "Montserrat", "Courier New", Courier, monospace;
                        margin-top: 20px;
                        width: 100%;
                        font-size: 13px;
                        text-align: center;
                    }
                    #zhanrGameMobile{
                        margin-bottom: 20px;
                        color: rgb(201, 201, 201);
                        font-family: "OpenSans-SemiBold", "Courier New", Courier, monospace;
                        font-size: 20px;
                        margin-top: 11px;
                        margin-left: 10px;
                        width: 100%;
                        text-align: center;

                    }
                    #weightGameMobile{
                        margin-top: 20px;
                        margin-bottom: 20px;
                        color: rgb(201, 201, 201);
                        font-family: "Roboto-Bold", "Courier New", Courier, monospace;
                        margin-left: 10px;
                        font-size: 20px;
                        width: 100%;
                        text-align: center;
                    }
                }

                .box-text-aboutMobile{
                    width: 99%;
                    margin: auto;

                    .text-aboutMobile{
                        color: white;
                        font-family: "Montserrat", "Courier New", Courier, monospace;
                        line-height: 25px;
                        width: 95%;
                        min-height: 1px;
                        font-size: 15px;
                        display: flex;
                        margin: auto;
                    }
                }
            }
            
        }

    }
}
