<div class="home">
    <ul class="breadcrumb">
      <li>
        <a [routerLink]="[ '/home' ]" [ngStyle]="{'text-decoration': 'none'}">
          <span id="mainF" >Головна</span>
        </a>
        <span id="slash">/</span>
      </li>
      <li>
        <ng-container *ngIf="userProduct?.category=='гаджети'; else elseTemplate">
          <a [routerLink]="[ '/gadgets']" [ngStyle]="{'text-decoration': 'none'}">
            <span id="mainF">Гаджети</span>
          </a>
        </ng-container>
        <ng-template #elseTemplate>
          <a [routerLink]="[ '/game-consoles']" [ngStyle]="{'text-decoration': 'none'}">
            <span id="mainF">Консолі</span>
          </a>
        </ng-template>
      </li>
      <li>
        <span id="slash">/</span>
      </li>
      <li>
        <a>
          <span id="mainFName">{{userProduct?.nameUA}}</span>
        </a>
      </li>
      </ul>
    <div class="container">

        <div class="game">
            <div class="imageBlock"><img [src]='userProduct?.image1' alt="" class="imageGame"></div>
           
            <div class="priceGame">
                <p class="oldPrice">{{userProduct?.oldPrice}} UAH</p>
               <p class="mainPrice"> {{userProduct?.mainPrice}} UAH</p>
            </div>

            <div class="buyGame">
                <button type="button" class="buttonBuy" (click)="addBasket(userProduct)">Купити</button>
            </div> 
        </div>

        <div class="About-game">
            <div class="nameGame">{{userProduct?.nameEN}}</div>

              <div class="w3-content" *ngIf="userProduct?.image2!==''">
                  <div class="big-slides" *ngIf="userProduct?.image2!==''">
                    <img class="mySlides" [src]='userProduct?.image2'>
                    <img class="mySlides" [src]='userProduct?.image3' [ngStyle]="{'display': 'none'}">
                    <img class="mySlides" [src]='userProduct?.image4' [ngStyle]="{'display': 'none'}">
                  </div>

               <div class="little-slides">

                      <img class="imageCarousel" *ngIf="userProduct?.image2!==''" [src]='userProduct?.image2' (click)="currentDiv(1)">


                      <img class="imageCarousel" *ngIf="userProduct?.image3!==''" [src]='userProduct?.image3'  (click)="currentDiv(2)">

 
                      <img class="imageCarousel" *ngIf="userProduct?.image4!==''" [src]='userProduct?.image4'  (click)="currentDiv(3)">

               </div>
               
              </div>
              <div class="forH1">Опис</div>
              <hr id="hr1">
              
              <div class="box-text-about">
               <p class="text-about">{{userProduct?.description}}</p> 
              </div>
        </div>

    </div> 


<!-- for mobile --><!-- for mobile --><!-- for mobile --><!-- for mobile --><!-- for mobile --><!-- for mobile --><!-- for mobile -->

    <div class="containerMobile">
      <div class="nameGameMobile">{{userProduct?.nameEN}}</div>
      <div class="imageBlockMobile"><img class="imageGameMobile" [src]='userProduct?.image1'></div>
      
      <div class="priceGameMobile">
        <p class="oldPriceMobile">{{userProduct?.oldPrice}} UAH</p>
       <p class="mainPriceMobile">{{userProduct?.mainPrice}} UAH</p>
    </div>
      
    <div class="buyGameMobile">
      <button type="button" class="buttonBuy" (click)="addBasket(userProduct)">Купити</button>
  </div>

  <div class="images" *ngIf="userProduct?.image2!==''">
    <div class="big-slidesMobile" *ngIf="userProduct?.image2!==''">
      <img class="mySlides-Mobile" *ngIf="userProduct?.image2!==''" [src]='userProduct?.image2'>
      <img class="mySlides-Mobile" *ngIf="userProduct?.image3!==''" [src]='userProduct?.image3'>
      <img class="mySlides-Mobile" *ngIf="userProduct?.image4!==''" [src]='userProduct?.image4'>    
    </div>
</div>

<div class="About-gameMobile">
  <div class="forH1Mobile">Опис</div>
  <hr id="hr1Mobile">
 
  <div class="box-text-aboutMobile">
   <p class="text-aboutMobile">{{userProduct?.description}}</p> 
  </div>

</div>
  </div>
<!-- for mobile --><!-- for mobile --><!-- for mobile --><!-- for mobile --><!-- for mobile --><!-- for mobile --><!-- for mobile -->

</div>
