<div class="home">
    <div class="container">
        
        <div class="login">
            <div class="forLoginName">Увійти</div>
            <div class="inputElementWrapper">
                <input class="inputElementItem"  type="text" placeholder="email" >
                <label>Email</label>
                <span class="focus-border"><i></i></span>
              </div>

              <div class="inputElementWrapper">
                <input class="inputElementItem"  type="password" placeholder="password" >
                <label>Password</label>
                <span class="focus-border"><i></i></span>
              </div>

              <div class="without">Не маєте акаунту? Зареєструватися</div>
              
              <div class="butLogin">
                <button class="buttonLog">Увійти</button>
              </div>
              
        </div>

        <!-- <div class="registerBlock">
            <div class="forRegistrationName">Реєстрація</div>

            <div class="inputElementWrapper">
                <input class="inputElementItem"  type="text" placeholder="FName" >
                <label>Ім'я</label>
                <span class="focus-border"><i></i></span>
              </div>

              <div class="inputElementWrapper">
                <input class="inputElementItem"  type="text" placeholder="SName" >
                <label>Прізвище</label>
                <span class="focus-border"><i></i></span>
              </div>

            <div class="inputElementWrapper">
                <input class="inputElementItem"  type="text" placeholder="email" >
                <label>Імейл</label>
                <span class="focus-border"><i></i></span>
              </div>

              <div class="inputElementWrapper">
                <input class="inputElementItem"  type="password" placeholder="password" >
                <label>Пароль</label>
                <span class="focus-border"><i></i></span>
              </div>

              <div class="without">Маєте акаунт? Увійти</div>
              
              <div class="butLogin">
                <button class="buttonLog">Зареєструватися</button>
              </div>
              
        </div> -->

        
    </div>
</div>
