<div class="home">
    <div class="container">
       <div class="nameComponent">Ігрові гаджети та аксесуари</div>
        <div class="gamesBlock">
            <div class="card" *ngFor="let gadget of userGadgets | paginate: { itemsPerPage: 12, currentPage: p }"  [routerLink]="['/device-details/'+gadget?.subCategory, gadget?.nameEN]">
                <div class="imageBlock">
                    <img class="imageGame" [src]='gadget?.image1'></div>
                <div class="nameGame">{{gadget?.nameEN}}</div>
                <div class="priceGame">
                    <p class="oldPrice" *ngIf="gadget?.oldPrice!==null">{{gadget?.oldPrice}} UAH</p>
                    <p class="oldPrice" *ngIf="gadget?.oldPrice==null"></p>
                   <p class="mainPrice">{{gadget?.mainPrice}} UAH</p>
                </div>
            </div>
            <pagination-controls class="myPagination" (pageChange)="p = $event"></pagination-controls>
        </div>

    </div>
</div>
