@media screen and (min-width: 970px) {
    .home{
        width: 100%;
        min-height: 700px;
        
    
        .container{
            width: 98%;
            min-height: 600px;
            margin:10px auto;
    
            .nameComponent{
                width: 100%;
                display: flex;
                justify-content: center;
                font-size: 60px;
                color: rgb(230, 230, 230);
                font-family: 'Montserrat','Courier New', Courier, monospace;
                margin-top: 10px;
                letter-spacing: 10px;
                margin-bottom: 20px;
                }
           
            
            .gamesBlock{
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
    
                .card{
                    width: 315px;
                    height: 500px;
                    background-color: white;
                    transition: all 500ms ease;
                    cursor: pointer;
                    margin-right: 30px;
                    margin-left: 15px;
                    margin-bottom: 30px;
    
                    &:hover{
                        box-shadow: 1px 1px 20px 5px rgb(0, 110, 173);
                        border-radius: 3px;
    
                        .priceGame{
                            background-color: rgb(13, 160, 197);
                        }
                    }
    
                    .imageBlock{
                        width: 100%;
                        height: 390px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        .imageGame{
                            width: 285px;
                            height: 220px;
                          margin-top: 10px;
                          background-image: url('/assets/images/for-gadgets1');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 90% 80%;
                        }
                        
                    }
                    .nameGame{
                        width: 95%;
                        max-height: 47px;
                        color: rgb(0, 36, 102);
                        font-size: 23px;
                        margin: 5px auto;
                        text-align: center;
                        font-family: 'Roboto-Bold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        margin-top: 5px;
                        min-height:40px;
                        overflow: hidden;
                    }
                .priceGame{
                    width: 95%;
                        height:40px;
                        margin: 6px auto;
                        text-align: center;
                        line-height: 40px;
                        display: flex;
                        background-color: rgb(52, 129, 148);
                        border-radius: 2px;
    
                        .oldPrice{
                            text-decoration: line-through;
                            font-family: 'Montserrat-Oldprice','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 15px;
                            min-width: 75px;
                            line-height: normal;
                        }
    
                        .mainPrice{
                            font-family: 'Roboto-Bold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 25px;
                            min-width: 135px;
                        }
                }
    
                }
            }
        }
    
    }
}

@media screen and (max-width: 969px){
    .home{
        width: 100%;
        min-height: 700px;
        
    
        .container{
            width: 98%;
            min-height: 600px;
            margin:10px auto;
    
            .nameComponent{
                width: 100%;
                text-align: center;
                font-size: 42px;
                color: rgb(230, 230, 230);
                font-family: 'Montserrat','Courier New', Courier, monospace;
                margin-top: 10px;
                letter-spacing: 10px;
                margin-bottom: 20px;
                }
           
            
            .gamesBlock{
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                padding-left: 18px;
    
                .card{
                    width: 280px;
                    height: 420px;
                    background-color: white;
                    transition: all 500ms ease;
                    margin-left: 15px;
                    margin-bottom: 30px;
    
                    &:focus{
                        box-shadow: 1px 1px 20px 5px rgb(0, 110, 173);
                        border-radius: 3px;
    
                        .priceGame{
                            background-color: rgb(13, 160, 197);
                        }
                    }
    
                    .imageBlock{
                        width: 100%;
                        height: 313px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        .imageGame{
                            width: 285px;
                            height: 313px;
                            background-image: url('/assets/images/for-gadgets1');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 90% 80%;
                        }
                        
                    }
                    .nameGame{
                        width: 95%;
                        max-height: 47px;
                        color: rgb(0, 36, 102);
                        font-size: 23px;
                        margin: 5px auto;
                        text-align: center;
                        font-family: 'Roboto-Bold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        margin-top: 5px;
                        min-height:40px;
                        overflow: hidden;
                    }
                .priceGame{
                    width: 95%;
                        height:40px;
                        margin: 6px auto;
                        text-align: center;
                        line-height: 40px;
                        display: flex;
                        background-color: rgb(52, 129, 148);
                        border-radius: 2px;
    
                        .oldPrice{
                            text-decoration: line-through;
                            font-family: 'Montserrat-Oldprice','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 15px;
                            min-width: 75px;
                            line-height: normal;
                        }
    
                        .mainPrice{
                            font-family: 'Roboto-Bold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 25px;
                            min-width: 135px;
                        }
                }
    
                }
            }
        }
    
    }
}

@media screen and (max-width: 767px){
    .home{
        width: 100%;
        min-height: 700px;
        
    
        .container{
            width: 98%;
            min-height: 600px;
            margin:10px auto;
    
            .nameComponent{
                width: 100%;
                text-align: center;
                font-size: 31px;
                color: #e6e6e6;
                font-family: "Montserrat", "Courier New", Courier, monospace;
                margin-top: 10px;
                letter-spacing: 0px;
                margin-bottom: 20px;
                animation: neonGadgets 0.5s ease-in-out infinite alternate;
                }
                @keyframes neonGadgets {
                    from {
                      text-shadow:
                      0 0 6px rgba(202,228,225,0.92),
                      0 0 30px rgba(202,228,225,0.34),
                      0 0 12px rgba(30,132,242,0.52),
                      0 0 21px rgba(30,132,242,0.92),
                      0 0 34px rgba(30,132,242,0.78),
                      0 0 54px rgba(30,132,242,0.92);
                    }
                    to {
                      text-shadow:
                      0 0 6px rgba(202,228,225,0.98),
                      0 0 30px rgba(202,228,225,0.42),
                      0 0 12px rgba(30,132,242,0.58),
                      0 0 22px rgba(30,132,242,0.84),
                      0 0 38px rgba(30,132,242,0.88),
                      0 0 60px rgba(30,132,242,1);
                    }
                  }
            
            .gamesBlock{
                width: 98%;
                min-height: 440px;
                display: flex;
                flex-flow: row wrap;
                margin: auto;
                margin-top: 20px;
                justify-content: space-around;
                padding-left: 0px;
    
                .card{
                    width: 220px;
                    height: 400px;
                    margin: 5px;
                    background-color: rgb(255, 255, 255);
                    transition: all 500ms ease; 
    
                    &:focus{
                        box-shadow: 1px 1px 20px 5px rgb(0, 110, 173);
                        border-radius: 3px;
    
                        .priceGame{
                            background-color: rgb(13, 160, 197);
                        }
                    }
    
                    .imageBlock{
                        width: 100%;
                        height: 295px;
                        display: flex;
                        justify-content: center;
    
    
                        .imageGame{
                            width: 100%;
                            height: 295px;
                            margin-top: 10px;
                            background-image: url('/assets/images/for-gadgets1');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 100% 60%;
                        }
                        
                    }
                    .nameGame{
                        width: 95%;
                        max-height: 50px;
                        color: rgb(0, 36, 102);
                        font-size: 14px;
                        margin: 5px auto;
                        font-family: "Roboto-Bold", "Courier New", Courier, monospace;
                        min-height: 40px;
                        margin-top: 7px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                    }
                .priceGame{
                    width: 95%;
                        height:40px;
                        margin: 6px auto;
                        text-align: center;
                        line-height: 40px;
                        display: flex;
                        background-color: rgb(52, 129, 148);
                        border-radius: 2px;
    
                        .oldPrice{
                            text-decoration: line-through;
                            font-family: 'Montserrat-Oldprice','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 15px;
                            min-width: 45px;
                            line-height: normal;
                        }
    
                        .mainPrice{
                            font-family: 'Roboto-Bold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 25px;
                            min-width: 135px;
                        }
                }
    
                }
            }
        }
    
    }
}