@media screen and (min-width: 970px) {
    .home{
        width: 100%;
        min-height: 700px;
        
    
        .container{
            width: 98%;
            min-height: 600px;
            margin:10px auto;
    
            .nameComponent{
                width: 100%;
                display: flex;
                justify-content: center;
                font-size: 42px;
                color: rgb(230, 230, 230);
                font-family: 'Montserrat','Courier New', Courier, monospace;
                margin-top: 10px;
                letter-spacing: 10px;
                margin-bottom: 20px;
                text-shadow:0 0 12px rgba(30,132,242,0.52),;
                }
           
            
            .gamesBlock{
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
    
                .card{
                    width: 315px;
                    height: 500px;
                    background-color: white;
                    transition: all 500ms ease;
                    cursor: pointer;
                    margin-right: 30px;
                    margin-left: 15px;
                    margin-bottom: 30px;
    
                    &:hover{
                        box-shadow: 1px 1px 20px 5px rgb(0, 110, 173);
                        border-radius: 3px;
    
                        .priceGame{
                            background-color: rgb(13, 160, 197);
                        }
                    }
                    &:focus{
                        outline: none;
                    }
    
                    .imageBlock{
                        width: 100%;
                        height: 390px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        .imageGame{
                            width: 97%;
                            height: 220px;
                          margin-top: 10px;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 90% 80%;
                        }
                        
                    }
                    .nameGame{
                        width: 95%;
                        max-height: 47px;
                        color: rgb(0, 36, 102);
                        font-size: 23px;
                        margin: 5px auto;
                        text-align: center;
                        font-family: 'Roboto-Bold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        margin-top: 5px;
                        min-height:40px;
                        overflow: hidden;
                    }
                .priceGame{
                    width: 95%;
                        height:40px;
                        margin: 6px auto;
                        text-align: center;
                        line-height: 40px;
                        display: flex;
                        background-color: rgb(52, 129, 148);
                        border-radius: 2px;
    
                        .oldPrice{
                            text-decoration: line-through;
                            font-family: 'Montserrat-Oldprice','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 15px;
                            min-width: 85px;
                            line-height: normal;
                        }
    
                        .mainPrice{
                            font-family: 'Roboto-Bold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 25px;
                            min-width: 135px;
                        }
                }
    
                }
            }
        }
    
    }
}

@media screen and (max-width: 969px){
    .home{
        width: 100%;
        min-height: 750px;
        
    
        .container{
            width: 98%;
            min-height: 680px;
            margin:10px auto;
    
            .nameComponent{
                width: 100%;
                text-align: center;
                font-size: 42px;
                color: rgb(230, 230, 230);
                font-family: 'Montserrat','Courier New', Courier, monospace;
                margin-top: 10px;
                letter-spacing: 10px;
                margin-bottom: 20px;
                text-shadow:0 0 12px rgba(30,132,242,0.52),;
                }
           
            
            .gamesBlock{
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
    
                .card{
                    width: 230px;
                    height: 420px;
                    background-color: white;
                    transition: all 500ms ease;
                    margin-bottom: 30px;
    
                    &:focus{
                        box-shadow: 1px 1px 20px 5px rgb(0, 110, 173);
                        border-radius: 3px;
                        outline: none;
                        .priceGame{
                            background-color: rgb(13, 160, 197);
                        }
                    }
    
                    .imageBlock{
                        width: 100%;
                        height: 313px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        .imageGame{
                            width: 100%;
                            height: 220px;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 90% 80%;
                        }
                        
                    }
                    .nameGame{
                        width: 95%;
                        max-height: 47px;
                        color: rgb(0, 36, 102);
                        font-size: 23px;
                        margin: 5px auto;
                        text-align: center;
                        font-family: 'Roboto-Bold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        margin-top: 5px;
                        min-height:40px;
                        overflow: hidden;
                    }
                .priceGame{
                    width: 95%;
                        height:40px;
                        margin: 6px auto;
                        text-align: center;
                        line-height: 40px;
                        display: flex;
                        background-color: rgb(52, 129, 148);
                        border-radius: 2px;
    
                        .oldPrice{
                            text-decoration: line-through;
                            font-family: 'Montserrat-Oldprice','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 15px;
                            min-width: 48px;
                            line-height: normal;
                        }
    
                        .mainPrice{
                            font-family: 'Roboto-Bold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 25px;
                            min-width: 135px;
                        }
                }
    
                }
            }
        }
    
    }
}

@media screen and (max-width: 767px){
    .home{
        width: 100%;
        min-height: 700px;
        
    
        .container{
            width: 98%;
            min-height: 600px;
            margin:10px auto;
    
            .nameComponent{
                width: 100%;
                text-align: center;
                font-size: 30px;
                color: #e6e6e6;
                font-family: "Montserrat", "Courier New", Courier, monospace;
                margin-top: 10px;
                letter-spacing: 0px;
                margin-bottom: 20px;
                animation: none;
                text-shadow:0 0 12px rgba(30,132,242,0.52),;
                }

            
            .gamesBlock{
                width: 100%;
                 display: flex;
                flex-flow: row wrap;
                padding-left: 0px;
                justify-content: space-around;
    
                .card{
                    width: 47%;
                    height: 350px;
                    background-color: rgb(255, 255, 255);
                    transition: all 500ms ease;
                    margin-right: 0px;
                    margin-bottom: 20px;
                    margin-left: 0px;
    
                    &:focus{
                        box-shadow: 1px 1px 20px 5px rgb(0, 110, 173);
                        border-radius: 3px;
                        outline: none;
                        .priceGame{
                            background-color: rgb(13, 160, 197);
                        }
                    }
    
                    .imageBlock{
                        width: 100%;
                        height: 220px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
    
                        .imageGame{
                            width: 100%;
                            height: 150px;
                          margin-top: 0px;
                          background-repeat: no-repeat;
                          background-size: 95% 100%;
                          background-position: center;
                        }
                        
                    }
                    .nameGame{
                        width: 95%;
                        max-height: 70px;
                        min-height: 50px;
                        font-size: 17px;
                        margin: 5px auto;
                        font-family: "Roboto-Bold", "Courier New", Courier, monospace;
                        margin-top: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        margin-top: 5px;
                    }
                .priceGame{
                    width: 95%;
                        height:50px;
                        margin: 6px auto;
                        text-align: center;
                        line-height: 40px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        background-color: rgb(52, 129, 148);
                        border-radius: 2px;
    
                        .oldPrice{
                            text-decoration: line-through;
                            color: white;
                            font-family: 'Montserrat-Oldprice','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 13px;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
    
                        .mainPrice{
                            font-family: "Roboto-Bold", "Courier New", Courier, monospace;
                            font-size: 23px;
                            color: #e7e7e7;
                            width: 100%;
                            justify-content: center;
                            align-items: center;
                            line-height: normal;
                        }
                }
    
                }
            }
        }
    
    }
}

.myPagination::ng-deep{
    display: block;
    margin-top:20px;
    font-size: 23px;
    width: 100%;
    align-items: center;
    text-align: center;
    font-family: 'Poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     .current{
        background: #0084ffc2;
     }
    .ngx-pagination{
    text-align: center;
    a{
        color: #00e1ff;
        width: 50px;
        height: 50px;
       
    }
            a:hover,  button:hover {
                background: #005cb3c2;
                text-decoration: none;
                cursor: pointer;
                color: white;
        }
        a:focus,  button:focus {
            outline: none;
            background: #004381c2;
            }
            li{
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                margin-right: 10px;
            }
        
    }

    ul{
    .pagination-previous,.pagination-next, .disabled{
        display: none;
}
}
}