<div class="home">
    <div class="container">
       <div class="nameComponent">Ігрові гаджети та аксесуари</div>
        <div class="gamesBlock">
            <div class="card">
                <div class="imageBlock"><img src="assets/images/for-gadgets1" alt="" class="imageGame"></div>
                <div class="nameGame">Джойстик геймпад DualShock 4 PS4 wireless controller плейстейшн Красный RED</div>
                <div class="priceGame">
                    <p class="oldPrice">1000 UAH</p>
                   <p class="mainPrice"> 899 UAH</p>
                </div>
            </div>

            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>

    </div>
</div>
