<div class="home">
    <div class="container">
        
        <div class="top-box">
            <div class="psPlusBlock">
                <a class="imagePlus"></a>
            </div>

            <div class="forBigImage"> 
                <div class="nameComponent">PS Plus</div>
                <a class="imagePlusMain"></a>
            </div>

            <div class="psPlusBlock">
                <a class="imagePlus"></a>
            </div>
        </div>
        
       <div class="freeLOGO">Ігри місяця</div>
        <div class="gamesBlock">
            <div class="card" *ngFor="let prod of psPlusProducts">
                <div class="imageBlock" [routerLink]="['/games/'+prod?.subCategory, prod?.nameEN]">
                    <img class="imageGame" [src]='prod?.image1' alt="">
                </div>
                <div class="nameGame">{{prod?.nameEN}}</div>
                <div class="priceGame" [routerLink]="['/games/'+prod?.subCategory, prod?.nameEN]">
                    <p class="oldPrice">{{prod?.oldPrice}} UAH</p>
                    <p class="mainPrice">{{prod?.mainPrice}} UAH</p>
                </div>
            </div>


        </div>

    </div>
</div>

