<div class="home">
    <div class="container">
        
        <div class="top-box">
            <div class="psPlusBlock">
                <a class="imagePlus"></a>
            </div>

            <div class="forBigImage"> 
                <div class="nameComponent">PS Plus</div>
                <a class="imagePlusMain"></a>
            </div>

            <div class="psPlusBlock">
                <a class="imagePlus"></a>
            </div>
        </div>
        
       <div class="freeLOGO">Ігри місяця</div>
        <div class="gamesBlock">
            <div class="card">
                <div class="imageBlock"><img src="/assets/images/for-psPLusGAmes" alt="" class="imageGame"></div>
                <div class="nameGame">PLAYERUNKNOWN'S BATTLEGROUNDS</div>
                <div class="priceGame">
                    <p class="oldPrice">2000 UAH</p>
                   <p class="mainPrice"> Безкоштовно</p>
                </div>
            </div>

            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>

    </div>
</div>

