<div class="home">
    <div class="container">
        <p id="mainName">Play with us</p>
        
        <div class="top-box">
            <div class="psPlusBlock" [routerLink]="[ '/ps-plus' ]">
                <a class="imagePlus"></a>
            </div>

            <div class="forCarousel">
                <div class="carousel">
                     <img class="mySlides" src="/assets/images/forCarusel1" >
                      <img class="mySlides" src="/assets/images/forCarusel2">  
                     <img class="mySlides" src="/assets/images/forCarusel3">    
                </div>
            </div>
           
            <div class="psPlusBlock" [routerLink]="[ '/ps-plus' ]">
                <a class="imagePlus"></a>
            </div>
        </div>

        <p id="mainName1">Знижки та акції</p>

            <div class="gamesBlock">
                <div class="card" *ngFor="let product of topProducts">
                    <div class="imageBlock"><img class="imageGame" [src]='product?.image1' alt=""></div>
                    <div class="nameGame">{{product.nameUA}}</div>
                    <div class="priceGame">
                        <p class="oldPrice">{{product.oldPrice}} UAH</p>
                       <p class="mainPrice">{{product.mainPrice}} UAH</p>
                    </div>
                </div>
            </div>

    </div>
</div>