<div class="home">
    <div class="container">
        <p id="mainName">Play with us</p>
        
        <div class="top-box">
            <div class="psPlusBlock" [routerLink]="[ '/ps-plus' ]">
                <a class="imagePlus"></a>
            </div>

            <div class="forCarousel">
                <div class="carousel">
                     <img class="mySlides" src="/assets/images/forCarusel1.jpeg" >
                      <img class="mySlides" src="/assets/images/forCarusel2.jpeg">  
                     <img class="mySlides" src="/assets/images/forCarusel3.jpg">    
                </div>
            </div>
           
            <div class="psPlusBlock" [routerLink]="[ '/ps-plus' ]">
                <a class="imagePlus"></a>
            </div>
        </div>

        <p id="mainName1">Знижки та акції</p>

            <div class="gamesBlock">
                <div class="card" *ngFor="let product of topProducts" [routerLink]="['/games/'+product?.subCategory, product?.nameEN]">
                    <div class="imageBlock" >
                        <img class="imageGame" [src]='product?.image1' alt="">
                    </div>
                    <div class="nameGame">{{product?.nameEN}}</div>
                    <div class="priceGame">
                        <p class="oldPrice" *ngIf="product?.oldPrice!==null">{{product?.oldPrice}} UAH</p>
                        <p class="oldPrice" *ngIf="product?.oldPrice==null"></p>
                            <p class="mainPrice">{{product?.mainPrice}} UAH</p>
                    </div>
                </div>
            </div>

    </div>
</div>