<div class="home">
    <div class="container">
        
        <div class="userData">
            <div class="forLoginName">Дані профіля</div>
            <div class="inputElementWrapper">
                <input class="inputElementItem"  type="text" placeholder="fName" >
                <label>Ім'я</label>
                <span class="focus-border"><i></i></span>
              </div>

              <div class="inputElementWrapper">
                <input class="inputElementItem"  type="text" placeholder="sName" >
                <label>Прізвище</label>
                <span class="focus-border"><i></i></span>
              </div>

            <div class="inputElementWrapper">
                <input class="inputElementItem"  type="text" placeholder="email" >
                <label>Email</label>
                <span class="focus-border"><i></i></span>
              </div>

              <!-- <div class="inputElementWrapper">
                <input class="inputElementItem"  type="password" placeholder="password" >
                <label>password</label>
                <span class="focus-border"><i></i></span>
              </div> -->
              
              <div class="for-buttons">
                <button class="buttonChange">Зберегти зміни</button>
                <button class="buttonLogOut">Вийти</button>
              </div>
              
        </div>


        <div class="myOrders">
            <div class="order">
                <div class="order-number">1</div>
                <div class="order-price">1500 UAH</div>
                <div class="order-data">ORder date</div>
                <div class="order-details"><button class="buttonInfo">Детальніше</button></div>
            </div>
            
            <div class="order"></div>
        </div>

    </div>
</div>
