@import url(reset.scss);

@font-face{
    font-family: 'Poppins';
    src: url(assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face{
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face{
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face{
  font-family: 'Roboto-Bold';
  src: url(assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face{
  font-family: 'OpenSans-SemiBold';
  src: url(assets/fonts/Open_Sans/OpenSans-SemiBold.ttf);
}

@font-face{
  font-family: 'Montserrat-nameGame';
  src: url(assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face{
  font-family: 'Montserrat-Oldprice';
  src: url(assets/fonts/IBM_Plex_Serif/IBMPlexSerif-Light.ttf);
}

@font-face{
  font-family: 'psPLus';
  src: url(assets/fonts/Kanit/Kanit-Medium.ttf);
}

body{
    // width: 98vw ;
    height: 100vh;
    background-color: rgb(0, 11, 36);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:linear-gradient(#000144, #055d80); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0e2aa8; 
  }

  .modal-product{
    max-width: 1000px!important;
  }

  .modal-order{
    max-width: 1000px!important;
  }

  .modal-open{
    overflow: auto;
  }

 