@media screen and (min-width: 970px) {
    .home{
        width: 100%;
        min-height: 700px;
        
    
        .container{
            width: 98%;
            min-height: 600px;
            margin:10px auto;
            display: flex;
    .categoriesMenu{
        display: none;
    }
            .categories{
                width: 180px;
                min-height: 500px;
                display: flex;
                flex-direction: column;
                color: white;
                background-color: rgb(0, 5, 26);
    
                #zhanrs{
                    width: 100%;
                    color: rgb(124, 124, 124);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 10px;
                    margin-bottom: 8px;
                    border-color: ghostwhite;
                    font-size: 25px;
                    font-family: 'Roboto-Bold', Courier, monospace;
                }
    
                .categories-zhanrs{
                    width: 95%;
                    min-height: 30px;
                    font-size: 18px;
                    margin-top: 15px;
                    margin-left: 5px;
                    padding-left: 10px;
                    cursor: pointer;
                    font-family: "OpenSans-SemiBold", "Courier New", Courier, monospace;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                
                    &:hover{
                        background-color: rgb(85, 85, 85);
                    }
                }
                #zhanrs-hr{
                    width: 85%;
                }
            }
    
            .gamesBlock{
                width: 88%;
                min-height: 500px;
                margin-left: 10px;
                padding-left: 15px;
                display: flex;
                flex-flow: row wrap;
    
                .card{
                    width: 315px;
                    height: 500px;
                    margin: 10px;
                    background-color: rgb(10, 1, 53);
                    transition: all 500ms ease; 
                    cursor: pointer;
    
                    &:hover{
                        outline: 1px solid whitesmoke;
                        box-shadow: 1px 1px 15px 3px rgb(0, 79, 124);
                        border-radius: 3px;
    
                        .priceGame{
                            background-color: rgb(32, 102, 119);
                        }
                    }
    
                    .imageBlock{
                        width: 100%;
                        height: 390px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 10px;
    
                        .imageGame{
                            width: 100%;
                            height: 390px;
                            margin-top: 10px;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 95% 100%;
                        }
                    }
                    
                    .nameGame{
                        width: 95%;
                        max-height: 50px;
                        color: white;
                        font-size: 23px;
                        margin: 5px auto;
                        text-align: center;
                        font-family: 'Roboto-Bold','Courier New', Courier, monospace;
                        margin-top: 5px;
                        min-height:40px;
                    }
                .priceGame{
                    width: 95%;
                        height:40px;
                        margin: 6px auto;
                        text-align: center;
                        line-height: 40px;
                        display: flex;
                        background-color: rgb(94, 94, 94);
                        border-radius: 2px;
    
                        .oldPrice{
                            text-decoration: line-through;
                            color: white;
                            font-family: 'Montserrat-Oldprice','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 15px;
                            min-width: 90px;
                            line-height: normal;
                        }
    
                        .mainPrice{
                            font-family: 'Roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 23px;
                            color: rgb(231, 231, 231);
                            min-width: 130px;
                        }
                }
    
                }
            }
        }
    
    }
}
/////////////////////////////////////////////////////////////////

@media screen and (max-width: 969px){ 

    .home{
        width: 100%;
        min-height: 700px;
        
    
        .container{
            width: 98%;
            min-height: 600px;
            margin:10px auto;
            display: flex;
            
            .categoriesMenu{
                display: none;
            }
    
            .categories{
                width: 150px;
                min-height: 500px;
                display: flex;
                flex-direction: column;
                color: white;
                background-color: rgb(0, 5, 26);
    
                #zhanrs{
                    width: 100%;
                    color: rgb(124, 124, 124);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 10px;
                    margin-bottom: 8px;
                    border-color: ghostwhite;
                    font-size: 16px;
                    font-family: 'Roboto-Bold', Courier, monospace;
                }
    
                .categories-zhanrs{
                    width: 95%;
                    min-height: 30px;
                    font-size: 16px;
                    margin-top: 15px;
                    margin-left: 5px;
                    padding-left: 10px;
                    font-family: "OpenSans-SemiBold", "Courier New", Courier, monospace;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                
                    &:focus{
                        background-color: rgb(85, 85, 85);
                    }
                }
                #zhanrs-hr{
                    width: 85%;
                }
            }
    
            .gamesBlock{
                width: 88%;
                min-height: 440px;
                margin-left: 10px;
                display: flex;
                flex-flow: row wrap;
    
                .card{
                    width: 235px;
                    height: 450px;
                    margin: 10px;
                    background-color: rgb(10, 1, 53);
                    transition: all 500ms ease; 
    
                    &:focus{
                        outline: 1px solid whitesmoke;
                        box-shadow: 1px 1px 15px 3px rgb(0, 79, 124);
                        border-radius: 3px;
    
                        .priceGame{
                            background-color: rgb(32, 102, 119);
                        }
                    }
    
                    .imageBlock{
                        width: 100%;
                        height: 340px;
                        display: flex;
                        justify-content: center;
    
                        .imageGame{
                            width: 285px;
                            height: 320px;
                            margin-top: 10px;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 95% 100%;
                        }
                    }
                    
                    .nameGame{
                        width: 95%;
                        max-height: 50px;
                        color: white;
                        font-size: 19px;
                        margin: 5px auto;
                        text-align: center;
                        font-family: 'Roboto-Bold','Courier New', Courier, monospace;
                        margin-top: 5px;
                        min-height:40px;
                    }
                .priceGame{
                    width: 95%;
                        height:40px;
                        margin: 6px auto;
                        text-align: center;
                        line-height: 40px;
                        display: flex;
                        background-color: rgb(94, 94, 94);
                        border-radius: 2px;
    
                        .oldPrice{
                            text-decoration: line-through;
                            color: white;
                            font-family: 'Montserrat-Oldprice','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 13px;
                            min-width: 62px;
                            line-height: normal;
                        }
    
                        .mainPrice{
                            font-family: 'Roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 23px;
                            color: rgb(231, 231, 231);
                            min-width: 100px;
                        }
                }
    
                }
            }
        }
    
    }


}

@media screen and (max-width: 767px){
    .home{
        width: 100%;
        min-height: 700px;
        
    
        .container{
            width: 98%;
            min-height: 600px;
            margin:10px auto;
             display: block;
    
            .categories{
                width: 150px;
                min-height: 500px;
                display: flex;
                flex-direction: column;
                color: white;
                background-color: rgb(0, 5, 26);
                display: none;
    
                #zhanrs{
                    width: 100%;
                    color: rgb(124, 124, 124);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 10px;
                    margin-bottom: 8px;
                    border-color: ghostwhite;
                    font-size: 16px;
                    font-family: 'Roboto-Bold', Courier, monospace;
                }
    
                .categories-zhanrs{
                    width: 95%;
                    min-height: 30px;
                    font-size: 16px;
                    margin-top: 15px;
                    margin-left: 5px;
                    padding-left: 10px;
                    font-family: "OpenSans-SemiBold", "Courier New", Courier, monospace;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                
                    &:focus{
                        background-color: rgb(85, 85, 85);
                    }
                }
                #zhanrs-hr{
                    width: 85%;
                }
            }

            .categoriesMenu{
                width: 100%;
                display: block;

                #zhanrs{
                    width: 100%;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 35px;
                    border-radius: 5px;
                    background-color: rgb(121, 121, 122);
                    font-family: 'Montserrat','Courier New', Courier, monospace;
                    border: none;
                  font-size: 20px;
                }

                #zhanrs:focus{
                    outline: none;
                }

                .menu-zhanrs{
                    display: none;
                    height: 0px;
                    transition: all 500ms ease;
                    color: white;
                    background-color: rgb(22, 3, 90);
                    width: 98%;
                    z-index: 50;
                    position: absolute;
                    opacity: 0.98;
                    text-align: center;

                    .categories-zhanrs{
                        width: 98%;
                        min-height: 30px;
                        font-size: 18px;
                        margin-top: 10px;
                        margin-left: 5px;
                        font-family: "OpenSans-SemiBold", "Courier New", Courier, monospace;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    
                        &:focus{
                            background-color: rgb(85, 85, 85);
                            outline: none;
                        }
                    }
                }

            }
            
           
            .gamesBlock{
                width: 98%;
                min-height: 440px;
                display: flex;
                flex-flow: row wrap;
                margin: auto;
                margin-top: 20px;
                justify-content: space-around;
                padding-left: 0px;
    
                .card{
                    width: 220px;
                    height: 400px;
                    margin: 5px;
                    background-color: rgb(10, 1, 53);
                    transition: all 500ms ease; 
    
                    &:focus{
                        outline: 1px solid whitesmoke;
                        box-shadow: 1px 1px 15px 3px rgb(0, 79, 124);
                        border-radius: 3px;
    
                        .priceGame{
                            background-color: rgb(32, 102, 119);
                        }
                    }
    
                    .imageBlock{
                        width: 100%;
                        height: 295px;
                        display: flex;
                        justify-content: center;
    
                        .imageGame{
                            width: 100%;
                            height: 295px;
                            margin-top: 10px;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 95% 100%;
                        }
                    }
                    
                    .nameGame{
                        width: 95%;
                        max-height: 50px;
                        color: white;
                        font-size: 17px;
                        margin: 5px auto;
                        font-family: "Roboto-Bold", "Courier New", Courier, monospace;
                        margin-top: 5px;
                        min-height: 40px;
                        margin-top: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                    }
                .priceGame{
                    width: 95%;
                        height:40px;
                        margin: 6px auto;
                        text-align: center;
                        line-height: 40px;
                        display: flex;
                        background-color: rgb(94, 94, 94);
                        border-radius: 2px;
    
                        .oldPrice{
                            text-decoration: line-through;
                            color: white;
                            font-family: 'Montserrat-Oldprice','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 13px;
                            min-width: 55px;
                            line-height: normal;
                        }
    
                        .mainPrice{
                            font-family: 'Roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 23px;
                            color: rgb(231, 231, 231);
                            min-width: 100px;
                        }
                }
    
                }
            }
        }
    
    }
}