<div class="home">
    <div class="container">
        <div class="categories">
            <div id="zhanrs">Жанри</div>
            <hr id="zhanrs-hr">
            <p class="categories-zhanrs">Всі ігри</p>
            <p class="categories-zhanrs">Бойовики</p>
            <p class="categories-zhanrs">Стратегії</p>
            <p class="categories-zhanrs">Симулятори</p>
            <p class="categories-zhanrs">Аркади</p>
            <p class="categories-zhanrs">Вождіння і гонки</p>
            <p class="categories-zhanrs">Шутери</p>
            <p class="categories-zhanrs">Спорт</p>
            <p class="categories-zhanrs">Дитячі та сімейні</p>
            <p class="categories-zhanrs">Рольові ігри</p>
            <p class="categories-zhanrs">Унікальні</p>
            <p class="categories-zhanrs">Платформерні</p>
        </div>

        <div class="categoriesMenu">
            <button id="zhanrs" (click)="openZhanrs()" [textContent]="!openStatus? 'Жанри':'Cховати жанри'">Жанри</button>
            <div class="menu-zhanrs">
                <p class="categories-zhanrs">Всі ігри</p>
                <p class="categories-zhanrs">Бойовики</p>
                <p class="categories-zhanrs">Стратегії</p>
                <p class="categories-zhanrs">Симулятори</p>
                <p class="categories-zhanrs">Аркади</p>
                <p class="categories-zhanrs">Вождіння і гонки</p>
                <p class="categories-zhanrs">Шутери</p>
                <p class="categories-zhanrs">Спорт</p>
                <p class="categories-zhanrs">Дитячі та сімейні</p>
                <p class="categories-zhanrs">Рольові ігри</p>
                <p class="categories-zhanrs">Унікальні</p>
                <p class="categories-zhanrs">Платформерні</p>
            </div>
            
        </div>

        <div class="gamesBlock">
            <div class="card" *ngFor="let products of userProducts">
                <div class="imageBlock" [routerLink]="['/games/'+products?.subCategory, products?.nameEN]">
                    <img class="imageGame" [src]='products?.image1' alt="">
                </div>
                <div class="nameGame">{{products.nameUA}}</div>
                <div class="priceGame" [routerLink]="['/games/'+products?.subCategory, products?.nameEN]">
                    <p class="oldPrice">{{products.oldPrice}} UAH</p>
                   <p class="mainPrice" >{{products.mainPrice}} UAH</p>
                </div>
            </div>
        </div>

    </div>
</div>
