<div class="home">
    <div class="container">
        <div class="categories">
            <div id="zhanrs">Жанри</div>
            <hr id="zhanrs-hr">
            <p class="categories-zhanrs" (click)="resetFilter()">Всі ігри</p>
            
            <ul class="categories-filters">
                <li [ngStyle]="{'margin-top':'10px'}" *ngFor="let subcat of underCategories">
                    <input type="radio" class="max" name="subCategory" id="{{subcat.ukrName}}" (change)='filterZhanr($event)'>
                    <label for="{{subcat.ukrName}}">{{subcat.ukrName}}</label>
                </li>
            </ul>
        </div>

        <div class="categoriesMenu">
            <button id="zhanrs" (click)="openZhanrs()" [textContent]="!openStatus? 'Жанри':'Cховати жанри'">Жанри</button>
            <div class="menu-zhanrs">
                <p class="categories-zhanrs" (click)="resetFilter()">Всі ігри</p>
                <ul class="categories-filters">
                    <li *ngFor="let subcat of underCategories">
                        <input type="radio" class="max" name="subCategory" id="{{subcat.ukrName}}" (change)='filterZhanr($event)'>
                        <label for="{{subcat.ukrName}}">{{subcat.ukrName}}</label>
                    </li>
                </ul>
            </div>
            
        </div>

        <div class="gamesBlock">
            <div class="card" *ngFor="let products of userFilterProduct| paginate: { itemsPerPage: 12, currentPage: p }"  [routerLink]="['/games/'+products?.subCategory, products?.nameEN]">
                <div class="imageBlock">
                    <img class="imageGame" [src]='products?.image1' alt="">
                </div>
                <div class="nameGame">{{products?.nameEN}}</div>
                <div class="priceGame">
                    <p class="oldPrice" *ngIf="products?.oldPrice!==null">{{products?.oldPrice}} UAH</p>
                    <p class="oldPrice" *ngIf="products?.oldPrice==null"></p>
                    <p class="mainPrice">{{products?.mainPrice}} UAH</p>
                </div>
            </div>
              <pagination-controls class="myPagination" (pageChange)="p = $event"></pagination-controls>
        </div>
      
    </div>
</div>
